
<div class="breadcrumb-navigation">
    <a href="{{ page.base }}compare/">Compare</a>
    <i class="fas fa-chevron-right"></i>
    <div class="dropdown">
        <a role="button" class="dropdown-button active" id="compareBreadcrumbAlternatives" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Tripetto vs. {{ include.selected }}<i class="fas fa-chevron-down"></i></a>
        <div class="dropdown-menu" aria-labelledby="compareBreadcrumbAlternatives">
            <a class="dropdown-item" href="{{ page.base }}typeform-alternative/">
                <div><img src="{{ page.base }}images/alternatives/typeform.png" alt="Logo of Typeform" class="icon-alternative" /></div>
                <div>Tripetto vs. Typeform</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}surveymonkey-alternative/">
                <div><img src="{{ page.base }}images/alternatives/surveymonkey.png" alt="Logo of SurveyMonkey" class="icon-alternative" /></div>
                <div>Tripetto vs. SurveyMonkey</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}jotform-alternative/">
                <div><img src="{{ page.base }}images/alternatives/jotform.png" alt="Logo of JotForm" class="icon-alternative" /></div>
                <div>Tripetto vs. JotForm</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}googleforms-alternative/">
                <div><img src="{{ page.base }}images/alternatives/googleforms.png" alt="Logo of Google Forms" class="icon-alternative" /></div>
                <div>Tripetto vs. Google Forms</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}landbot-alternative/">
                <div><img src="{{ page.base }}images/alternatives/landbot.png" alt="Logo of Landbot" class="icon-alternative" /></div>
                <div>Tripetto vs. Landbot</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}contactform7-alternative/">
                <div><img src="{{ page.base }}images/alternatives/contactform7.png" alt="Logo of Contact Form 7" class="icon-alternative" /></div>
                <div>Tripetto vs. Contact Form 7</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}wpforms-alternative/">
                <div><img src="{{ page.base }}images/alternatives/wpforms.png" alt="Logo of WPForms" class="icon-alternative" /></div>
                <div>Tripetto vs. WPForms</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}ninjaforms-alternative/">
                <div><img src="{{ page.base }}images/alternatives/ninjaforms.png" alt="Logo of Ninja Forms" class="icon-alternative" /></div>
                <div>Tripetto vs. Ninja Forms</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}gravityforms-alternative/">
                <div><img src="{{ page.base }}images/alternatives/gravityforms.png" alt="Logo of Gravity Forms" class="icon-alternative" /></div>
                <div>Tripetto vs. Gravity Forms</div>
            </a>
        </div>
    </div>
</div>
