<li>
    <img src="{{ page.base }}images/alternatives/{{ include.logo }}" alt="Logo of {{ include.name }}" />
    <a href="{{ page.base }}{{ include.url }}/"><h2>Compare to {{ include.name }}</h2></a>
</li>
