{% if page.attention == true %}
<a href="https://www.producthunt.com/posts/tripetto-3-0" target="_blank" class="attention">
    <strong>We’re on Product Hunt today</strong><span>😻</span>Get your discount now!
</a>
<script src="{{ page.base }}js/attention.js"></script>
{% endif %}
