
<section class="cta content{% if include.template == "dark" %} template-dark{% endif %}">
  <div class="container">
    <div class="row cta-row">
      <div class="col-lg-10 col-xl-9">
        <small>Giving life to forms and surveys</small>
        <h2><span>Try Tripetto for free.</span>Get your insights sorted right.</h2>
        <div>
          <a href="{{ page.base }}launch/" class="button"><img src="{{ page.base }}images/tripetto-logo-white.svg" alt="Logo Tripetto"/>Start free, without account</a>
        </div>
      </div>
    </div>
  </div>
</section>
