{% assign activeMenu = page.url | split: "/" %}
{% assign activeMenu = activeMenu[1] | default: "" %}

<li><a href="{{ page.base }}product/"{% if activeMenu == "product" %} class="active"{% endif %}><span>Product</span></a></li>
<li><a href="{{ page.base }}examples/"{% if activeMenu == "examples" %} class="active"{% endif %}><span>Examples</span></a></li>
<li><a href="{{ page.base }}tutorials/"{% if activeMenu == "tutorials" %} class="active"{% endif %}><span>Tutorials</span></a></li>
<li><a href="{{ page.base }}pricing/"{% if activeMenu == "pricing" %} class="active"{% endif %}><span>Pricing</span></a></li>
<li><a href="{{ page.base }}help/"{% if activeMenu == "help" %} class="active"{% endif %}><span>Help</span></a></li>
