
<div class="help-article-blocks-switcher">
    <h2>Discover our form blocks</h2>
    <span>How to use the...</span>
    <div class="dropdown">
        <button class="dropdown-button" id="helpDiscoverBlocks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,8">Select a block<i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpDiscoverBlocks">
            <div class="dropdown-title">Question blocks</div>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-checkbox-single-block/">
                <div>{% include icons/checkbox.html %}</div>
                <div>Checkbox (single) block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-checkboxes-block/">
                <div>{% include icons/checkboxes.html %}</div>
                <div>Checkboxes block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-date-and-time-block/">
                <div>{% include icons/date.html %}</div>
                <div>Date (and time) block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-dropdown-block/">
                <div>{% include icons/dropdown.html %}</div>
                <div>Dropdown block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-email-address-block/">
                <div>{% include icons/email-address.html %}</div>
                <div>Email address block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-file-upload-block/">
                <div>{% include icons/file-upload.html %}</div>
                <div>File upload block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-matrix-block/">
                <div>{% include icons/matrix.html %}</div>
                <div>Matrix block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-multiple-choice-block/">
                <div>{% include icons/multiple-choice.html %}</div>
                <div>Multiple choice block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-number-block/">
                <div>{% include icons/number.html %}</div>
                <div>Number block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-paragraph-block/">
                <div>{% include icons/paragraph.html %}</div>
                <div>Paragraph block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-password-block/">
                <div>{% include icons/password.html %}</div>
                <div>Password block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-phone-number-block/">
                <div>{% include icons/phone-number.html %}</div>
                <div>Phone number block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-picture-choice-block/">
                <div>{% include icons/picture-choice.html %}</div>
                <div>Picture choice block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-radio-buttons-block/">
                <div>{% include icons/radio-buttons.html %}</div>
                <div>Radio buttons block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-rating-block/">
                <div>{% include icons/rating.html %}</div>
                <div>Rating block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-scale-block/">
                <div>{% include icons/scale.html %}</div>
                <div>Scale block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-text-multiple-lines-block/">
                <div>{% include icons/text-multiple.html %}</div>
                <div>Text (multiple lines) block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-text-single-line-block/">
                <div>{% include icons/text-single.html %}</div>
                <div>Text (single line) block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-url-block/">
                <div>{% include icons/url.html %}</div>
                <div>URL block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-yes-no-block/">
                <div>{% include icons/yes-no.html %}</div>
                <div>Yes/no block</div>
            </a>
            <div class="dropdown-title dropdown-title-padding">Calculation action blocks</div>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-calculator-block/">
                <div>{% include icons/calculator.html %}</div>
                <div>Calculator block</div>
            </a>
            <div class="dropdown-title dropdown-title-padding">Data action blocks</div>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-hidden-field-block/">
                <div>{% include icons/hidden-field.html %}</div>
                <div>Hidden field block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-custom-variable-block/">
                <div>{% include icons/custom-variable.html %}</div>
                <div>Custom variable block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-set-value-block/">
                <div>{% include icons/set-value.html %}</div>
                <div>Set value block</div>
            </a>
            <div class="dropdown-title dropdown-title-padding">Email action blocks</div>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-send-email-block/">
                <div>{% include icons/send-email.html %}</div>
                <div>Send email block</div>
            </a>
            <div class="dropdown-title dropdown-title-padding">Stop action blocks</div>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-force-stop-block/">
                <div>{% include icons/force-stop.html %}</div>
                <div>Force stop block</div>
            </a>
            <a class="dropdown-item" href="{{ page.base }}help/articles/how-to-use-the-raise-error-block/">
                <div>{% include icons/raise-error.html %}</div>
                <div>Raise error block</div>
            </a>
        </div>
    </div>
</div>
