section.logic-intro {
  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 992px) {
      font-size: 80px;
      letter-spacing: -3px;
    }

    @media (min-width: 1200px) {
      font-size: 88px;
    }

    > span {
      display: block;
      color: $palette-logic;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.5em;
    padding-top: 32px;
    padding-bottom: 16px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 64px;
      padding-bottom: 24px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
    }
  }

  small {
    display: block;
    font-size: 18px;
    color: $text-dark-48;
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }

    span {
      display: inline-block;
    }

    i {
      color: $text-dark-48;
      font-size: 12px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -10%, 5%, auto, auto);
      @include shape-md(120px, -10%, 5%, auto, auto);
      @include shape-lg(240px, -10%, -10%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, auto, auto, 15%, 10%);
      @include shape-sm(64px, auto, auto, 15%, 20%);
      @include shape-md(64px, auto, auto, 15%, 20%);
      @include shape-lg(128px, auto, auto, 15%, 20%);
      @include shape-xl(128px, auto, auto, 15%, 20%);
    }
  }
}
