

section.help-chapters {
  @mixin help-chapter($color, $image, $size-lg, $size-xl, $position-lg) {
    background-color: $color;
    background-image: url(../images/chapters/#{$image});

    @media (min-width: 992px) {
      background-size: $size-lg;
      background-position: $position-lg;
    }

    @media (min-width: 1200px) {
      background-size: $size-xl;
    }
  }

  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -1px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    li {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      min-height: 80px;
      background-color: $palette-main;
      padding: 16px;
      margin-bottom: 16px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      transition: transform 0.2s ease-out;
      cursor: pointer;
      background-position: right bottom;
      background-size: auto 80%;
      background-repeat: no-repeat;

      @media (min-width: 768px) {
        width: 46%;
        padding: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
      }

      @media (min-width: 992px) {
        width: 30%;
        height: 200px;
      }

      @media (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 30px;
        height: 240px;
      }

      &.palette-build {
        @include help-chapter(
          $palette-build,
          "build.svg",
          auto 65%,
          80%,
          center bottom
        );
      }

      &.palette-logic {
        @include help-chapter(
          $palette-logic,
          "logic.svg",
          140px,
          190px,
          right bottom
        );
      }

      &.palette-customization {
        background-size: 140px;

        @include help-chapter(
          $palette-customization,
          "customization.svg",
          auto 80px,
          auto 120px,
          center bottom
        );
      }

      &.palette-automations {
        @include help-chapter(
          $palette-automations,
          "automations.svg",
          90px,
          120px,
          right 15% bottom
        );
      }

      &.palette-sharing {
        @include help-chapter(
          $palette-sharing,
          "sharing.svg",
          auto 110px,
          auto 150px,
          right 6% bottom
        );
      }

      &.palette-hosting {
        @include help-chapter(
          $palette-hosting,
          "hosting.svg",
          auto 110px,
          auto 150px,
          right 6% bottom
        );
      }

      &:hover {
        text-decoration: none;
        transform: scale(1.01);
      }

      a {
        display: inline-block;
        text-decoration: none !important;

        h3 {
          font-size: 20px;
          color: #fff;
          font-weight: 600;
          width: 60%;
          line-height: 1.2em;

          @media (min-width: 992px) {
            width: 100%;
            font-size: 30px;
          }

          @media (min-width: 1200px) {
            width: 90%;
          }
        }
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
