section.help-faq {
  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -1px;
    }
  }

  .accordion {
    padding-top: 20px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 56px;
      padding-bottom: 104px;
    }

    .card {
      border: none;
      background-color: transparent;
      padding: 11px 0px;

      .card-header {
        border: none;
        background-color: transparent;
        border-radius: 0;
        padding: 0px;

        a {
          color: $text-dark;

          i {
            transition: transform 0.2s ease-out;
            transform: rotate(90deg);
            position: relative;
            top: -2px;
            margin-left: 10px;
            font-size: 18px;
          }

          h3 {
            display: inline;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.3em;

            @media (min-width: 992px) {
              font-size: 24px;
            }
          }

          &.collapsed {
            i {
              transform: rotate(0deg);
            }
          }
        }
      }

      .card-body {
        font-size: 18px;
        line-height: 1.5em;
        padding: 8px 0px 16px 0px;

        @media (min-width: 992px) {
          font-weight: 500;
        }

        a {
          text-decoration: underline;
        }

        ul {
          margin: 0;
        }
      }
    }
  }
}
