section.help-hero {
  p {
    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 104px;
      width: 96%;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -20%, 5%, auto, auto);
      @include shape-md(120px, -10%, -40%, auto, auto);
      @include shape-lg(240px, -10%, -40%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, auto, auto, 15%, 10%);
      @include shape-sm(64px, auto, auto, 15%, 20%);
      @include shape-md(64px, auto, auto, 15%, 20%);
      @include shape-lg(128px, auto, auto, 15%, 20%);
      @include shape-xl(128px, auto, auto, 15%, 20%);
    }
  }
}
