section.help-list {
  @mixin item-color($color) {
    border-color: $color;
  }

  .container {
    padding-top: 40px;
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-top: 52px;
      padding-bottom: 108px;
    }
  }

  h2 {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -1px;
      padding-bottom: 48px;
    }
  }

  ul.help-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li.help-list-subtitle {
      padding: 0px;

      h3 {
        padding-top: 32px;
        padding-bottom: 24px;

        @media (min-width: 992px) {
          padding-bottom: 40px;
        }
      }
    }

    li {
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      > div {
        padding: 2px 16px 0px 16px;
        border-left: 4px solid $palette-basics;
        cursor: pointer;
        transition: transform 0.2s ease-out;

        @media (min-width: 992px) {
          padding: 6px 24px 0px 24px;
        }

        &.palette-basics {
          @include item-color($palette-basics);
        }

        &.palette-build {
          @include item-color($palette-build);
        }

        &.palette-customization {
          @include item-color($palette-customization);
        }

        &.palette-logic {
          @include item-color($palette-logic);
        }

        &.palette-automations {
          @include item-color($palette-automations);
        }

        &.palette-sharing {
          @include item-color($palette-sharing);
        }

        &.palette-hosting {
          @include item-color($palette-hosting);
        }

        > a {
          color: $text-dark;

          h3 {
            font-size: 20px;
            font-weight: 600;

            @media (min-width: 992px) {
              font-size: 24px;
            }
          }
        }

        > p {
          color: $text-dark-72;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.55em;
          margin-top: 10px;
          margin-bottom: 8px;

          @media (min-width: 992px) {
            font-size: 18px;
            margin-bottom: 16px;
          }
        }

        &:hover {
          transform: scale(1.01);

          > a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
