section.help-tiles {
  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -1px;
    }
  }

  ul.tiles {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 104px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
