section.studio-features {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 192px;
      padding-bottom: 104px;
    }
  }

  h2 {
    padding-bottom: 40px;
  }

  .hyperlinks {
    padding-top: 40px;
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-purple);
      @include shape-xs(120px, auto, 20%, -60px, auto);
      @include shape-md(120px, auto, 20%, -60px, auto);
      @include shape-lg(160px, auto, 20%, -100px, auto);
      @include shape-xl(160px, auto, 20%, -100px, auto);
    }
  }
}
