section.studio-jumbo {
  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(80px, auto, auto, -120px, 0%);
      @include shape-md(80px, auto, auto, -120px, 15%);
      @include shape-lg(160px, auto, auto, -220px, 15%);
      @include shape-xl(160px, auto, auto, -220px, 15%);
    }
  }
}
