section.pricing-platforms {
  .pricing-platforms-row {
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  .pricing-platform-hint {
    &:before {
      content: "WordPressers go here";
      text-align: left;
      display: none;
      font-family: $font-secondary;
      color: $palette-red;
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 0.8em;
      transform: rotate(9deg);
      position: absolute;
      width: 140px;
      height: 96px;
      background-image: url(../images/launch/hint.svg);
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: bottom right;

      @media (min-width: 992px) {
        display: inline-block;
        right: 64px;
        top: -124px;
      }

      @media (min-width: 1200px) {
        right: 120px;
        top: -124px;
      }
    }
  }
}
