section.pricing-studio-free {
  .jumbo-footer {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
