section.pricing-studio-premium {
  .container {
    padding-top: 48px;
    padding-bottom: 72px;

    @media (min-width: 992px) {
      padding-top: 72px;
      padding-bottom: 120px;
    }
  }

  .pricing-studio-intro {
    h2 {
      font-size: 48px;
      letter-spacing: -2px;

      @media (min-width: 992px) {
        font-size: 64px;
        letter-spacing: -3px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      padding-top: 24px;

      @media (min-width: 992px) {
        font-size: 24px;
        padding-top: 36px;
      }
    }
  }

  .premium-feature {
    background-color: $background-light;
    border-radius: 8px;
    margin-top: 64px;
    padding: 15px;
    display: flex;
    align-items: stretch;

    @media (min-width: 992px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .premium-feature-content {
      width: 100%;

      .premium-feature-content-left {
        padding-top: 16px;
        padding-bottom: 16px;

        @media (min-width: 768px) {
          padding-left: 24px;
          padding-right: 24px;
        }

        @media (min-width: 1200px) {
          padding-left: 56px;
          padding-right: 56px;
        }

        span {
          font-size: 18px;
          font-weight: 500;
          opacity: 0.64;
        }

        h3 {
          font-size: 40px;
          letter-spacing: -2px;
          line-height: 1em;
          padding-top: 4px;

          @media (min-width: 992px) {
            font-size: 48px;
          }
        }

        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.8em;
          padding-top: 24px;

          @media (min-width: 992px) {
            font-size: 18px;
            padding-top: 32px;
          }

          a {
            color: $text-link;
          }
        }
      }

      .premium-feature-content-right {
        padding-top: 16px;
        padding-bottom: 16px;

        @media (min-width: 768px) {
          border-left: 1px solid #dfe4ea;
          padding-left: 24px;
          padding-right: 12px;
        }

        @media (min-width: 1200px) {
          padding-left: 48px;
          padding-right: 48px;
          padding-top: 24px;
          padding-bottom: 24px;
        }

        ul.pricing-features {
          padding-top: 10px;
        }
      }
    }
  }

  .premium-feature-footer {
    padding-top: 12px;

    @media (min-width: 768px) {
      text-align: center;
    }

    @media (min-width: 992px) {
      padding-top: 20px;
    }
  }
}
