section.pricing-wordpress-hero {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
    }
  }

  p {
    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 128px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-purple);
      @include shape-xs(120px, auto, 20%, -60px, auto);
      @include shape-sm(120px, auto, 40%, -60px, auto);
      @include shape-md(120px, auto, 60px, -60px, auto);
      @include shape-lg(240px, auto, 0px, -120px, auto);
      @include shape-xl(240px, auto, 0px, -120px, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, auto, 10%, 50px, auto);
      @include shape-sm(64px, auto, 20%, 60px, auto);
      @include shape-md(64px, auto, -80px, 60px, auto);
      @include shape-lg(96px, auto, -180px, 60px, auto);
      @include shape-xl(96px, auto, -240px, 80px, auto);
    }
  }
}
