section.pricing-wordpress-premium {
  .container {
    padding-top: 48px;
    padding-bottom: 72px;

    @media (min-width: 992px) {
      padding-top: 72px;
      padding-bottom: 120px;
    }
  }

  .pricing-wordpress-intro {
    h2 {
      font-size: 48px;
      letter-spacing: -2px;

      @media (min-width: 992px) {
        font-size: 64px;
        letter-spacing: -3px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      padding-top: 24px;

      @media (min-width: 992px) {
        font-size: 24px;
        padding-top: 36px;
      }
    }
  }

  .premium-switch {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    ul.carousel-buttons {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        display: inline-block;
        border: 2px solid $palette-main;
        color: $palette-main;
        font-size: 16px;
        font-weight: 500;
        line-height: 1em;
        padding: 10px 16px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        @media (min-width: 768px) {
          min-width: 160px;
          font-size: 18px;
          padding: 13px 32px;
        }

        &.active {
          background-color: $palette-main;
          color: #fff;
        }

        &.carousel-button-left {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-right: 0;
        }

        &.carousel-button-right {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-left: 0;
        }
      }
    }
  }

  .premium-plans {
    padding-top: 40px;

    .premium-plan {
      padding-top: 24px;

      > div {
        background-color: $palette-wordpress;
        padding: 24px 15px;
        border-radius: 8px;

        @media (min-width: 768px) {
          padding: 24px;
        }

        @media (min-width: 992px) {
          padding: 32px;
        }

        h3 {
          font-size: 40px;
          letter-spacing: -2px;
          line-height: 1em;

          @media (min-width: 1200px) {
            font-size: 48px;
          }
        }

        p {
          font-weight: 600;
          opacity: 0.64;
          padding-top: 8px;

          @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 14px;
          }
        }

        .pricing-price {
          padding-top: 24px;
        }

        div.pricing-features-primary {
          padding-top: 16px;

          @media (min-width: 992px) {
            padding-top: 32px;
          }
        }

        div.pricing-features-secondary {
          margin-top: 16px;
          padding-top: 16px;
          border-top: 1px solid #dfe4ea;
        }

        small.pricing-footer {
          display: block;
          text-align: center;
          font-size: 13px;
          font-weight: 500;
          padding-top: 16px;
          opacity: 0.48;

          .switch {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        div.purchase {
          padding-top: 24px;
          text-align: center;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
