section.index-hero {
  .row-hero {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 112px;
    }

    @media (min-width: 768px) {
      background-image: url(../images/index/hero.svg);
      background-repeat: no-repeat;
      background-size: 340px;
      background-position: right 20px bottom;
    }

    @media (min-width: 992px) {
      background-size: 450px;
      background-position: right 20px bottom;
    }

    @media (min-width: 1200px) {
      background-size: 560px;
      background-position: right 20px bottom;
    }

    .col-hero {
      h1 {
        font-size: 70px;
        line-height: 1em;
        font-weight: 800;
        letter-spacing: -3px;

        @media (min-width: 768px) {
          font-size: 76px;
        }

        @media (min-width: 992px) {
          font-size: 110px;
          letter-spacing: -6px;
        }

        @media (min-width: 1200px) {
          font-size: 120px;
        }
      }

      p {
        padding-top: 24px;
        font-size: 20px;
        line-height: 1.5em;

        @media (min-width: 768px) {
          font-size: 22px;
        }

        @media (min-width: 992px) {
          padding-top: 48px;
          font-size: 24px;
        }

        @media (min-width: 1200px) {
          font-size: 28px;
          width: 93%;
        }
      }
    }

    .col-showcase-switcher {
      padding-top: 40px;
      padding-bottom: 16px;
    }
  }
}
