section.examples-list {
  .container {
    background-image: url(../images/examples/intro.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: 15px top;
    padding-top: 120px;

    @media (min-width: 768px) {
      background-size: 220px;
      padding-top: 160px;
    }

    @media (min-width: 992px) {
      background-size: 340px;
      padding-top: 240px;
    }

    @media (min-width: 1200px) {
      background-size: 430px;
      padding-top: 280px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      margin-bottom: 24px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;
      transition: transform 0.2s ease-out;
      cursor: pointer;

      @media (min-width: 768px) {
        margin-right: 24px;
        width: 45%;
      }

      @media (min-width: 992px) {
        border-radius: 16px;
      }

      @media (min-width: 1200px) {
        width: 30%;
        margin-right: 32px;
        margin-bottom: 32px;
      }

      &:hover {
        transform: scale(1.01);

        .example-list-play {
          transform: scale(1.1);
        }
      }

      .example-list-preview {
        background-color: $background-light;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 992px) {
          min-height: 200px;
        }

        @media (min-width: 1200px) {
          min-height: 240px;
        }

        &.example-list-customer-satisfaction {
          background-image: url(../images/examples/customer-satisfaction.png);
        }

        &.example-list-product-evaluation {
          background-image: url(../images/examples/product-evaluation.png);
        }

        &.example-list-trivia-quiz {
          background-image: url(../images/examples/trivia-quiz.png);
        }

        &.example-list-order-form {
          background-image: url(../images/examples/order-form.png);
        }

        &.example-list-corona-screening {
          background-image: url(../images/examples/corona-screening.png);
        }

        &.example-list-bmi-wizard {
          background-image: url(../images/examples/bmi-wizard.png);
        }

        &.example-list-restaurant-reservation {
          background-image: url(../images/examples/restaurant-reservation.png);
        }

        &.example-list-wedding-rsvp {
          background-image: url(../images/examples/wedding-rsvp.png);
        }

        &.example-list-secure-bond-007 {
          background-image: url(../images/examples/secure-bond-007.png);
        }

        div.example-list-play {
          width: 64px;
          height: 64px;
          background-color: $palette-main;
          border-radius: 50%;
          transition: transform 0.2s ease-out;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 24px;
            color: #fff;
            position: relative;
            left: 2px;
          }

          &.palette-autoscroll {
            background-color: $palette-autoscroll;
          }

          &.palette-chat {
            background-color: $palette-chat;
          }

          &.palette-classic {
            background-color: $palette-classic;
          }
        }
      }

      .example-list-info {
        padding: 16px 24px;
        display: flex;
        align-items: center;

        .icon-face {
          margin-right: 16px;
        }

        small {
          font-size: 13px;
          color: $text-dark-64;
          font-weight: 600;
        }

        a {
          text-decoration: none;

          h2 {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.3em;
          }
        }
      }
    }
  }

  .examples-list-footer {
    padding-top: 32px;
    padding-bottom: 64px;

    @media (min-width: 992px) {
      padding-bottom: 120px;
    }
  }
}
