section.producthunt-calculator {
  border-bottom: 1px solid $splitter-light;

  .container {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }
}
