section.producthunt-mosaic {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 192px;
    }

    .shape-before {
      &:before {
        @include shape(diamond, $palette-red);
        @include shape-xs(24px, -20%, auto, auto, 30%);
        @include shape-lg(64px, -35%, auto, auto, 35%);
        @include shape-xl(64px, -45%, auto, auto, 35%);
      }
    }

    .shape-after {
      &:after {
        @include shape(circle, $palette-purple);
        @include shape-xs(80px, auto, 10%, 20%, auto);
        @include shape-md(120px, auto, 10%, 0%, auto);
        @include shape-lg(160px, auto, -10%, 0, auto);
        @include shape-xl(160px, auto, -25%, 0, auto);
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 97%;
      }
    }

    .hyperlink {
      margin-top: 32px;

      @media (min-width: 992px) {
        margin-top: 48px;
      }
    }
  }

  .container-mosaic {
    padding-top: 48px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 72px;
      padding-bottom: 144px;
    }

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
