section.producthunt-showcase {
  .container {
    padding-top: 80px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 192px;
      padding-bottom: 80px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }

    .hyperlink {
      margin-top: 32px;

      @media (min-width: 992px) {
        margin-top: 48px;
      }
    }

    .row-background {
      @media (min-width: 992px) {
        position: relative;

        &:after {
          content: "";
          background-image: url(../images/calculator/intro.svg);
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: bottom right;
          position: absolute;
          z-index: -1;
          right: 160px;
          bottom: -272px;
          width: 240px;
          height: 320px;

          @media (min-width: 1200px) {
            right: 200px;
            width: 240px;
            height: 320px;
          }
        }
      }
    }

    .shape-before {
      &:before {
        @include shape(diamond, $palette-purple);
        @include shape-xs(24px, -20%, auto, auto, 20%);
        @include shape-lg(64px, -35%, auto, auto, 25%);
        @include shape-xl(64px, -35%, auto, auto, 25%);
      }
    }

    .shape-after {
      &:after {
        @include shape(circle, $palette-green);
        @include shape-xs(80px, auto, 10%, 20%, auto);
        @include shape-md(120px, auto, -20%, -10%, auto);
        @include shape-lg(160px, auto, 0, -10%, auto);
        @include shape-xl(240px, auto, -20%, -10%, auto);
      }
    }
  }
}
