footer {
  border-top: 1px solid $splitter;
  padding-top: 48px;
  padding-bottom: 16px;

  @media (min-width: 992px) {
    padding-top: 74px;
  }

  * {
    color: $text-dark;
  }

  .footer-navigation {
    h6 {
      font-size: 16px;
      font-weight: 700;
      padding-top: 40px;

      @media (min-width: 992px) {
        padding-top: 14px;
      }
    }

    .footer-branding {
      display: flex;
      align-items: center;
      padding-top: 36px;

      @media (min-width: 992px) {
        padding-top: 10px;
      }

      img {
        width: 36px;
        margin-right: 10px;
      }

      h6 {
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -1px;
        padding-top: 0px;
      }
    }

    small {
      width: 130px;
      display: inline-block;
      padding-top: 10px;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px;
      margin: 0;

      li {
        padding: 0px;

        a {
          display: inline-block;
          white-space: nowrap;
          padding: 6px 0px;
          font-size: 15px;
          font-weight: 500;
        }
      }

      &.footer-navigation-secondary {
        padding-top: 5px;

        li {
          a {
            font-size: 13px;
            text-decoration: underline;
            padding: 0px;
          }
        }
      }
    }
  }

  .footer-communication {
    display: flex;
    justify-content: center;

    .footer-subscribe {
      padding-top: 40px;

      @media (min-width: 992px) {
        padding-top: 88px;
      }

      form {
        display: flex;
        justify-content: center;

        .form-input {
          width: 100%;
          margin-bottom: 8px;
        }

        @media (min-width: 576px) {
          flex-wrap: nowrap;

          .form-input {
            width: auto;
            flex-grow: 1;
            margin-bottom: 0px;
            margin-right: 16px;
          }
        }

        button {
          @media (max-width: 575px) {
            width: 100%;
          }
        }
      }

      span {
        display: block;
        padding-top: 10px;
        font-size: 15px;
        letter-spacing: -0.2px;
        text-align: center;
        opacity: 0.64;

        a {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {
      display: flex;
      justify-content: center;
      padding-top: 32px;
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-top: 64px;
        padding-bottom: 64px;
      }

      a {
        display: inline-block;
        font-size: 22px;
        color: $text-dark;

        i {
          width: 38px;
          transition: transform 0.2s ease-out;
        }

        &:hover {
          text-decoration: none;

          i {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .footer-notes {
    padding-bottom: 16px;

    hr {
      border-color: $splitter;
      margin-top: 0px;
      margin-bottom: 16px;
    }

    span.amsterdam {
      position: relative;
      top: -5px;
    }

    .footer-copyright {
      font-size: 15px;
      font-weight: 500;

      @media (min-width: 576px) {
        text-align: right;
      }
    }
  }

  &.template-dark {
    border-color: $splitter-dark;

    * {
      color: #fff;
    }

    .footer-notes {
      hr {
        border-color: $splitter-dark;
      }
    }
  }
}
