body {
  font-family: $font-primary !important;
  color: $text-dark;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  cursor: default;

  &.template-dark {
    background-color: $background-dark;
    color: $text-white;
  }

  &.template-developers {
    color: #000;
  }

  ::selection {
    background-color: #eff2f6;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700 !important;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: $text-dark;

  &:hover {
    color: $text-dark;
  }
}

.block-first {
  padding-top: $header-height-mobile;

  @media (min-width: 992px) {
    padding-top: $header-height-desktop;
  }
}
