$background-medium: #f1ede8;
$background-light: #fcf8f3;

$referrer-dark: #e6e0d8;
$referrer-medium: #f1ede8;
$referrer-light: #fcf8f3;

$button-dark: #333;
$button-medium: #f1ede8;
$button-light: #fcf8f3;

$product-studio: #39a386;
$product-wordpress: #0073aa;
$product-sdk: #333;

/* Fonts */
$font-primary: "Poppins", sans-serif;
$font-secondary: "Nanum Pen Script", cursive;

/* Sizes */
$header-height-mobile: 60px;
$header-height-desktop: 82px;

/* Colors - Backgrounds */
$background-dark: #18214d;
$background-light: #eff2f6;
$splitter: #dfe4ea;
$splitter-dark: #2a335b;
$splitter-light: #eff2f6;

/* Colors - Text */
$text-white: #fff;
$text-dark: #18214d;
$text-dark-72: #585f7f;
$text-dark-64: #6b718d;
$text-dark-48: #9095aa;
$text-red: #fa3a69;
$text-link: #8f68fb;

/* Colors - Palettes */
$palette-main: #8f68fb;
$palette-dark: #18214d;
$palette-light: #eff2f6;
$palette-lighter: #f2f2f2;

$palette-basics: #18214d;
$palette-build: #855ffb;
$palette-logic: #189dfb;
$palette-customization: #2bcdfd;
$palette-automations: #30ca89;
$palette-sharing: #feca2f;
$palette-hosting: #fa3a69;

$palette-autoscroll: #43dcdb;
$palette-chat: #fdba2c;
$palette-classic: #fa6198;

$palette-studio: #18214d;
$palette-wordpress: #f2f2f2;
$palette-sdk: #000;

$palette-wordpress-light: #f2f2f2;
$palette-wordpress-medium: #dde3e9;
$palette-wordpress-dark: #c5cfd6;
$palette-wordpress-darkest: #afb9c5;

$palette-purple: #8f68fb;
$palette-blue: #189dfb;
$palette-turquoise: #2bcdfd;
$palette-green: #30ca89;
$palette-yellow: #feca2f;
$palette-red: #fa3a69;

$palette-producthunt: #da552f;

/* Socials */
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #007bb5;
$whatsapp: #25d366;
$youtube: #ff0000;
$medium: #02b875;
$gitlab: #e65328;
$npm: #cb3837;
