section.tutorials-list {
  @mixin tile-color($color) {
    background-color: $color;
  }

  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 132px;
    }

    &:last-child {
      padding-bottom: 80px;

      @media (min-width: 992px) {
        padding-bottom: 132px;
      }
    }

    .tutorial-category {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .icon-chapter {
        margin-right: 24px;
      }

      h2 {
        font-size: 24px;
        line-height: 1.1em;
        letter-spacing: -1px;

        @media (min-width: 992px) {
          font-size: 30px;
        }
      }
    }

    ul.tiles {
      padding-top: 32px;
    }

    .hyperlink {
      margin-top: 16px;
    }
  }
}
