---
layout: default
---

<section class="article-intro article-breadcrumb block-first">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="breadcrumb-navigation">
          <a href="{{ page.base }}blog/"><i class="fas fa-chevron-left"></i>Back to all blog articles</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="article-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <div class="row article-preface">
          <div class="col-12">
            {% if page.article_image %}
              <figure>
                <img src="{{ page.base }}images/blog/{{ page.article_folder }}/{{ page.article_image }}" alt="Article intro image" />
                {% if page.article_image_caption %}
                <figcaption>{{ page.article_image_caption }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
            <small class="pills">
              <span class="pill-splitter pill-splitter-after">{{ page.category_name }}</span>{% if page.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ page.time }} Min.</span>{% endif %}{% if page.time_video > 0 %}<span><i class="fas fa-video"></i>{{ page.time_video }} Min.</span>{% endif %}
            </small>
            <h1>{{ page.article_title }}</h1>
            {{ page.excerpt }}
            <div class="author">{% include blog-article-info.html author=page.author role=page.role avatar=page.avatar date=page.date %}</div>
            <hr />
          </div>
        </div>
        <div class="row ">
          <div class="col-12{% if page.common_content_core != true %} article-content-core{% endif %}">{{ page.content | remove: page.excerpt }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span>Share this article</span>
            {% assign share_url = site.url | append: page.url %}
            <a href="https://api.whatsapp.com/send?text={{ page.article_title | url_encode }}%20{{ share_url | url_encode }}" class="share whatsapp" target="_blank" title="Share this blog on Whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://twitter.com/intent/tweet?url={{ share_url | url_encode }}&text={{ page.article_title | url_encode }}" class="share twitter" target="_blank" title="Share this blog on Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | url_encode }}&t={{ page.article_title | url_encode }}" class="share facebook" target="_blank" title="Share this blog on Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/shareArticle?url={{ share_url | url_encode }}" class="share linkedin" target="_blank"><i class="fab fa-linkedin" title="Share this blog on LinkedIn"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign related_posts = site.articles_blog | where: "tags", page.category %}
{% assign related_posts_count = 0 %}

{% for article in related_posts reversed %}
  {% if article.url != page.url %}
    {% if related_posts_count == 0 %}
<section class="blog-related">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr />
        <h2>You might also be interested in...</h2>
        <ul class="tiles">
    {% endif %}
    {% include tile.html url=article.url title=article.article_title palette-top='dark' time=article.time time_video=article.time_video type=article.category_name %}
    {% assign related_posts_count = related_posts_count | plus: 1 %}
    {% if related_posts_count == 2 %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if related_posts_count > 0 %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}

<div class="article-progress-container" id="articleProgress">
  <div class="article-progress-bar" id="articleProgressBar"></div>
</div>
<script src="{{ page.base }}js/article-progress.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/sticky.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/tiles.js?v={{ site.cache_version }}"></script>
