<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="google" content="notranslate" />
        <link rel="stylesheet" type="text/css" href="{{ page.base }}css/styles.css?v={{ site.cache_version }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ page.base }}icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ page.base }}icons/favicon-16x16.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ page.base }}icons/apple-touch-icon.png" />
        <link rel="manifest" href="{{ page.base }}manifest.json" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        {% seo %}
        {% include gtm.html %}
        {% include crisp.html %}
	</head>
    <body{% if page.color %} class="template-{{ page.color }}"{% endif %}>
        {% include gtm-ns.html %}
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        {% include attention.html %}
        {% include scripts.html %}
        {% include attention.html %}
    </body>
</html>
