---
layout: default
---

<section class="examples-article-intro block-first">
  <div class="container">
    <div class="row">
        <div class="col">
          <div class="breadcrumb-navigation">
            <a href="{{ page.base }}examples/">Examples</a>
            <i class="fas fa-chevron-right"></i>
            <div class="dropdown">
                <a role="button" class="dropdown-button active" id="examplesBreadcrumb" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">{{ page.article_breadcrumb }}<i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="examplesBreadcrumb">
                  {% for article in site.articles_examples %}
                    <a class="dropdown-item" href="{{ article.url }}">
                        <div>{% include icon-face.html face=article.example_face name=article.example_face_name size='xs' template='background' %}</div>
                        <div>{{ article.article_breadcrumb }}<small>{{ article.example_face_name }} form</small></div>
                    </a>
                    {% endfor %}
                </div>
            </div>
          </div>

        </div>
    </div>
    <div class="row">
      <div class="col-xl-11">
        {% include icon-face.html face=page.example_face size='xl' name=page.example_face_name template='background' %}
        <h1>{{ page.article_title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <p>{{ page.article_description }}</p>
      </div>
    </div>
    <div class="row example-preview">
      <div class="col-12">
        <div class="example-holder"><iframe src="{{ page.url_runner }}"></iframe></div>
      </div>
      <div class="col-12">
        <ul class="hyperlinks">
          <li><a href="{{ page.url_runner }}" class="hyperlink hyperlink-small" target="_blank"><span>Show fullscreen version</span><i class="fas fa-arrow-right"></i></a></li>
          <li><a href="{{ page.url_template }}" class="hyperlink hyperlink-small" target="_blank"><span>Use this template</span><i class="fas fa-arrow-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="examples-article-details">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>In this example</h2>
      </div>
    </div>
    <div class="row example-info">
      <div class="col-lg-8 col-xl-7">
        <h3>Question types</h3>
        <p>Tripetto offers a wide range of question blocks. Use <a href="{{ page.base }}tutorials/#build" target="_blank">the builder</a> to compose forms and surveys out of as many questions as you like into as many flows as you want.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-10">
        <div class="form-properties">
          {% if page.example_questions contains "checkbox" %}<a href="{{ page.base }}help/articles/how-to-use-the-checkbox-single-block/" target="_blank" class="form-property palette-build">{% include icons/checkbox.html %}Checkbox</a>{% endif %}
          {% if page.example_questions contains "checkboxes" %}<a href="{{ page.base }}help/articles/how-to-use-the-checkboxes-block/" target="_blank" class="form-property palette-build">{% include icons/checkboxes.html %}Checkboxes</a>{% endif %}
          {% if page.example_questions contains "date" %}<a href="{{ page.base }}help/articles/how-to-use-the-date-and-time-block/" target="_blank" class="form-property palette-build">{% include icons/date.html %}Date</a>{% endif %}
          {% if page.example_questions contains "dropdown" %}<a href="{{ page.base }}help/articles/how-to-use-the-dropdown-block/" target="_blank" class="form-property palette-build">{% include icons/dropdown.html %}Dropdown</a>{% endif %}
          {% if page.example_questions contains "email-address" %}<a href="{{ page.base }}help/articles/how-to-use-the-email-address-block/" target="_blank" class="form-property palette-build">{% include icons/email-address.html %}Email address</a>{% endif %}
          {% if page.example_questions contains "file-upload" %}<a href="{{ page.base }}help/articles/how-to-use-the-file-upload-block/" target="_blank" class="form-property palette-build">{% include icons/file-upload.html %}File upload</a>{% endif %}
          {% if page.example_questions contains "matrix" %}<a href="{{ page.base }}help/articles/how-to-use-the-matrix-block/" target="_blank" class="form-property palette-build">{% include icons/matrix.html %}Matrix</a>{% endif %}
          {% if page.example_questions contains "multiple-choice" %}<a href="{{ page.base }}help/articles/how-to-use-the-multiple-choice-block/" target="_blank" class="form-property palette-build">{% include icons/multiple-choice.html %}Multiple choice</a>{% endif %}
          {% if page.example_questions contains "number" %}<a href="{{ page.base }}help/articles/how-to-use-the-number-block/" target="_blank" class="form-property palette-build">{% include icons/number.html %}Number</a>{% endif %}
          {% if page.example_questions contains "paragraph" %}<a href="{{ page.base }}help/articles/how-to-use-the-paragraph-block/" target="_blank" class="form-property palette-build">{% include icons/paragraph.html %}Paragraph</a>{% endif %}
          {% if page.example_questions contains "password" %}<a href="{{ page.base }}help/articles/how-to-use-the-password-block/" target="_blank" class="form-property palette-build">{% include icons/password.html %}Password</a>{% endif %}
          {% if page.example_questions contains "phone-number" %}<a href="{{ page.base }}help/articles/how-to-use-the-phone-number-block/" target="_blank" class="form-property palette-build">{% include icons/phone-number.html %}Phone number</a>{% endif %}
          {% if page.example_questions contains "picture-choice" %}<a href="{{ page.base }}help/articles/how-to-use-the-picture-choice-block/" target="_blank" class="form-property palette-build">{% include icons/picture-choice.html %}Picture choice</a>{% endif %}
          {% if page.example_questions contains "radio-buttons" %}<a href="{{ page.base }}help/articles/how-to-use-the-radio-buttons-block/" target="_blank" class="form-property palette-build">{% include icons/radio-buttons.html %}Radio buttons</a>{% endif %}
          {% if page.example_questions contains "rating" %}<a href="{{ page.base }}help/articles/how-to-use-the-rating-block/" target="_blank" class="form-property palette-build">{% include icons/rating.html %}Rating</a>{% endif %}
          {% if page.example_questions contains "scale" %}<a href="{{ page.base }}help/articles/how-to-use-the-scale-block/" target="_blank" class="form-property palette-build">{% include icons/scale.html %}Scale</a>{% endif %}
          {% if page.example_questions contains "statement" %}<a href="{{ page.base }}help/articles/how-to-use-the-statement-block/" target="_blank" class="form-property palette-build">{% include icons/statement.html %}Statement</a>{% endif %}
          {% if page.example_questions contains "text-single" %}<a href="{{ page.base }}help/articles/how-to-use-the-text-single-line-block/" target="_blank" class="form-property palette-build">{% include icons/text-single.html %}Text - Single line</a>{% endif %}
          {% if page.example_questions contains "text-multiple" %}<a href="{{ page.base }}help/articles/how-to-use-the-text-multiple-lines-block/" target="_blank" class="form-property palette-build">{% include icons/text-multiple.html %}Text - Multiple lines</a>{% endif %}
          {% if page.example_questions contains "url" %}<a href="{{ page.base }}help/articles/how-to-use-the-url-block/" target="_blank" class="form-property palette-build">{% include icons/url.html %}URL</a>{% endif %}
          {% if page.example_questions contains "yes-no" %}<a href="{{ page.base }}help/articles/how-to-use-the-yes-no-block/" target="_blank" class="form-property palette-build">{% include icons/yes-no.html %}Yes/No</a>{% endif %}
        </div>
      </div>
    </div>
    <div class="row example-info">
      <div class="col-lg-8 col-xl-7">
        <h3>Logic types</h3>
        <p>Tripetto’s numerous logic features let you build highly personable and smart form and surveys. Using <a href="{{ page.base }}tutorials/#logic" target="_blank">the right logic</a> <a href="{{ page.base }}higher-completion-rates-with-logic/" target="_blank">increases completion rates</a> and gives you better insights altogether. It’s the secret sauce for truly conversational forms.</p>
      </div>
    </div>
    <div class="row example-info-padding">
      <div class="col-lg-12 col-xl-10">
        <div class="form-properties">
          {% if page.example_logic contains "branch" %}<a href="{{ page.base }}help/articles/discover-the-power-of-branches-for-your-logic/" target="_blank" class="form-property palette-logic">{% include icons/branch.html %}Branch</a>{% endif %}
          {% if page.example_logic contains "iteration" %}<a href="{{ page.base }}help/articles/how-to-repeat-follow-up-for-multiple-selected-options/" target="_blank" class="form-property palette-logic">{% include icons/iteration.html %}Iteration</a>{% endif %}
          {% if page.example_logic contains "piping" %}<a href="{{ page.base }}help/articles/how-to-show-respondents-answers-in-your-form-using-piping-logic/" target="_blank" class="form-property palette-logic">{% include icons/pipe.html %}Recall values (piping)</a>{% endif %}
          {% if page.example_logic contains "jump" %}<a href="{{ page.base }}help/articles/learn-about-different-types-of-branch-endings-for-your-logic/" target="_blank" class="form-property palette-logic">{% include icons/jump.html %}Jump</a>{% endif %}
          {% if page.example_logic contains "password-match" %}<a href="{{ page.base }}help/articles/how-to-verify-passwords-inside-your-form/" target="_blank" class="form-property palette-logic">{% include icons/password-match.html %}Password match</a>{% endif %}
          {% if page.example_logic contains "calculator" %}<a href="{{ page.base }}help/articles/how-to-use-the-calculator-block/" target="_blank" class="form-property palette-logic">{% include icons/calculator.html %}Calculator</a>{% endif %}
          {% if page.example_logic contains "hidden-field" %}<a href="{{ page.base }}help/articles/how-to-use-the-hidden-field-block/" target="_blank" class="form-property palette-logic">{% include icons/hidden-field.html %}Hidden field</a>{% endif %}
          {% if page.example_logic contains "custom-variable" %}<a href="{{ page.base }}help/articles/how-to-use-the-custom-variable-block/" target="_blank" class="form-property palette-logic">{% include icons/custom-variable.html %}Custom variable</a>{% endif %}
          {% if page.example_logic contains "set-value" %}<a href="{{ page.base }}help/articles/how-to-use-the-set-value-block/" target="_blank" class="form-property palette-logic">{% include icons/set-value.html %}Set value</a>{% endif %}
          {% if page.example_logic contains "force-stop" %}<a href="{{ page.base }}help/articles/how-to-use-the-force-stop-block/" target="_blank" class="form-property palette-logic">{% include icons/force-stop.html %}Force stop</a>{% endif %}
          {% if page.example_logic contains "raise-error" %}<a href="{{ page.base }}help/articles/how-to-use-the-raise-error-block/" target="_blank" class="form-property palette-logic">{% include icons/raise-error.html %}Raise error</a>{% endif %}
          {% if page.example_logic contains "send-email" %}<a href="{{ page.base }}help/articles/how-to-use-the-send-email-block/" target="_blank" class="form-property palette-logic">{% include icons/send-email.html %}Send email</a>{% endif %}
          {% if page.example_logic contains "endings" %}<a href="{{ page.base }}help/articles/how-to-add-one-or-multiple-closing-messages/" target="_blank" class="form-property palette-logic">{% include icons/endings.html %}Flexible endings</a>{% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="examples-article-details examples-article-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Other settings</h2>
      </div>
    </div>
    <div class="row example-info">
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-10">
            <h3>Sharing methods</h3>
            <p>Tripetto forms can be <a href="{{ page.base }}tutorials/#sharing" target="_blank">shared using different methods</a>. They can be embedded in a webpage or presented in a fullscreen mode.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-properties">
              <a href="{{ page.base }}tutorials/sharing-forms-and-surveys-with-a-shareable-link/" target="_blank" class="form-property palette-sharing">{% include icons/shareable-link.html %}Shareable link</a>
              <a href="{{ page.base }}tutorials/embedding-forms-and-surveys/" target="_blank" class="form-property palette-sharing">{% include icons/embed.html %}Embed</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-10">
            <h3>Storage setups</h3>
            <p>You choose where <a href="{{ page.base }}tutorials/#hosting" target="_blank">collected data is stored</a>. Could be at Tripetto. But you may also choose to self-host collected data anywhere you like, bypassing the Tripetto platform completely.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-properties">
              <a href="{{ page.base }}tutorials/downloading-form-and-survey-results/" target="_blank" class="form-property palette-hosting">{% include icons/cloud.html %}At Tripetto</a>
              <a href="{{ page.base }}tutorials/self-hosting-form-and-survey-data/" target="_blank" class="form-property palette-hosting">{% include icons/self-host.html %}Self-hosted</a>
              <a href="{{ page.base }}tutorials/downloading-form-and-survey-results/" target="_blank" class="form-property palette-hosting">{% include icons/wordpress.html %}WordPress</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include cta.html %}
