section.black-friday-intro {
  .row {
    justify-content: center;
    text-align: center;
  }

  h1 {
    padding-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 42px;
    }

    @media (min-width: 768px) {
      width: 94%;
    }

    @media (min-width: 992px) {
      width: 91%;
      padding-bottom: 120px;
    }
    @media (min-width: 1200px) {
      width: 94%;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-purple);
      @include shape-xs(100px, -10%, auto, auto, 4%);
      @include shape-md(160px, -10%, auto, auto, 2%);
      @include shape-lg(280px, -14%, auto, auto, 2%);
      @include shape-xl(360px, -14%, auto, auto, 2%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(60px, auto, 10%, 4%, auto);
      @include shape-md(100px, auto, 10%, 0%, auto);
      @include shape-lg(130px, auto, 15%, 10%, auto);
      @include shape-xl(160px, auto, 15%, 10%, auto);
    }
  }

  .countdown-title {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 600;

    @media (min-width: 992px) {
      font-size: 22px;
    }
  }

  .countdown-holder {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 124px;
    }
  }

  .countdown {
    display: flex;
    justify-content: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      text-align: center;
      margin: 0px 4px;

      @media (min-width: 768px) {
        width: 120px;
        margin: 0px 8px;
      }

      @media (min-width: 992px) {
        width: 160px;
      }
    }

    span.countdown-clock {
      font-size: 32px;
      font-weight: 700;
      background-color: $palette-red;
      border-radius: 8px;
      height: 72px;
      line-height: 1em;

      @media (min-width: 768px) {
        font-size: 60px;
        height: 120px;
      }

      @media (min-width: 992px) {
        font-size: 80px;
        height: 160px;
      }
    }

    span.countdown-label {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 600;
      opacity: .64;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  hr {
    border-color: $splitter-dark;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
