section.alternatives-overview-intro {
  h1 {
    font-size: 44px;

    @media (min-width: 768px) {
      font-size: 80px;
    }

    @media (min-width: 992px) {
      font-size: 110px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
    }

    .alternatives-title {
      display: block;
      margin-top: 4px;
      color: #8f68fb;
      white-space: nowrap;
      min-height: 48px;

      @media (min-width: 768px) {
        min-height: 80px;
      }

      @media (min-width: 992px) {
        min-height: 110px;
      }

      @media (min-width: 1200px) {
        min-height: 120px;
      }
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, 0%, 5%, auto, auto);
      @include shape-md(120px, 0%, 15%, auto, auto);
      @include shape-lg(240px, 0%, 10%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-blue);
      @include shape-xs(64px, auto, auto, 15%, 10%);
      @include shape-sm(64px, auto, auto, 15%, 20%);
      @include shape-md(64px, auto, auto, 15%, 20%);
      @include shape-lg(128px, auto, auto, 15%, 20%);
      @include shape-xl(128px, auto, auto, 15%, 20%);
    }
  }
}

section.alternatives-overview-list {
  .container {
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }
  }

  ul.alternatives-tiles {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      margin-bottom: 24px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;
      transition: transform 0.2s ease-out;
      cursor: pointer;
      padding: 24px;

      @media (min-width: 768px) {
        margin-right: 24px;
        width: 46%;
      }

      @media (min-width: 992px) {
        padding: 40px;
      }

      @media (min-width: 1200px) {
        width: 30%;
      }

      &:hover {
        transform: scale(1.01);
      }

      img {
        display: block;
        width: 100px;
        height: 100px;

        @media (min-width: 992px) {
          width: 160px;
          height: 160px;
        }
      }

      a {
        display: block;
        text-decoration: none;
        margin-top: 16px;

        h2 {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.3em;
        }
      }
    }
  }
}
