section.calculator-examples {
  .container {
    background-image: none;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
    }

    .calculator-examples-intro {
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }

      h2 {
        font-size: 48px;
        letter-spacing: -2px;

        @media (min-width: 992px) {
          font-size: 64px;
          letter-spacing: -3px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 500;
        padding-top: 24px;

        @media (min-width: 992px) {
          font-size: 24px;
          padding-top: 36px;
        }
      }
    }
  }
}
