section.calculator-ticker {
  .tickercontainer {
    margin: 8px 0px;

    @media (min-width: 992px) {
      margin: 16px 0px;
    }
  }

  .ticker-blocks {
    li {
      padding: 0px 8px;

      @media (min-width: 992px) {
        padding: 0px 16px;
      }

      > a {
        background-color: $palette-main;
        border-radius: 16px;
        color: #fff !important;
        font-size: 20px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: -1px;
        padding: 12px 20px;
        display: flex;
        align-items: center;

        @media (min-width: 992px) {
          padding: 16px 32px;
          font-size: 30px;
        }

        &.palette-dark {
          background-color: $palette-dark;
        }

        &.palette-yellow {
          background-color: $palette-yellow;
          color: $palette-dark !important;
        }

        &.palette-red {
          background-color: $palette-red;
        }

        img,svg {
          width: 40px;
          height: 40px;
          margin-right: 16px;
          transition: transform 0.2s ease-out;

          path {
            fill: #fff;
          }

          @media (min-width: 992px) {
            width: 64px;
            height: 64px;
            margin-right: 24px;
          }
        }

        &:hover {
          text-decoration: none;

          img,svg {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .ticker-hyperlink {
    padding-top: 16px;
    padding-bottom: 8px;

    @media (min-width: 992px) {
      padding-top: 48px;
      padding-bottom: 16px;
    }
  }
}
