section.reviews-intro {
  .container {
    padding-bottom: 60px;

    @media (min-width: 768px) {
      background-image: url(../images/reviews/intro.svg);
      background-repeat: no-repeat;
      background-size: 320px;
      background-position: right bottom;
    }

    @media (min-width: 992px) {
      background-size: 400px;
      padding-bottom: 80px;
    }

    @media (min-width: 1200px) {
      background-size: 560px;
      padding-top: 112px;
      padding-bottom: 180px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-green);
      @include shape-xs(100px, 0px, auto, auto, 15%);
      @include shape-md(100px, 0px, auto, auto, 15%);
      @include shape-lg(200px, -20px, auto, auto, 15%);
      @include shape-xl(200px, -20px, auto, auto, 15%);
    }
  }

  p {
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-bottom: 48px;
    }
  }
}
