---
base: /
permalink: /404.html
title: Page not found - Tripetto
description: The requested page does not exist.
sitemap: false
---

<section class="block-first intro error-404">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-7 shape-before shape-after">
        <h1>Ouch!</h1>
        <p>Something went wrong. <strong>The requested page does not exist.</strong> There’s nothing to see here.</p>
        <a href="{{ page.base }}" class="hyperlink"><span>Back to home</span><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
