---
permalink: /wpforms-alternative/
base: ../
title: Tripetto - A free WPForms alternative without the inescapable paywalls
description: Tripetto is for making smart forms and surveys. A formidable WPForms alternative without the inescapable paywalls.
---

<section class="alternative-intro block-first">
    <div class="container">
        <div class="row">
            <div class="col">
                {% include alternatives-breadcrumb.html selected='WPForms' %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-9 shape-before">
                <h1>A formidable WPForms alternative without the inescapable paywalls.</h1>
                <p class="intro">WPForms is one of the biggest form plugins for WordPress, but if you really want to create an appealing form, you’re forced to upgrade to one of their paid plans almost immediately. Blegh... 😟</p>
                <p class="description shape-after">With Tripetto you create good looking, smart forms and surveys for your WordPress site that will engage your respondents and boost completion rates. All inside your own WordPress install! <strong>Why don’t you give Tripetto a try and tell us what you think?</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
    </div>
</section>

<section class="alternative-comparison" id="compare">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>WPForms&nbsp;&nbsp;⚔️&nbsp;&nbsp;Tripetto</h2>
                <p>A quick comparison of the free WordPress plugins of WPForms and Tripetto.</p>
            </div>
        </div>
        <div class="row">
           <div class="col-12">
                <div class="compare">
                    <div class="row">
                        <div class="col-6 col-md-3 offset-md-6 column-title">WPForms<span>Free plugin</span></div>
                        <div class="col-6 col-md-3 column-title"><img src="{{ page.base }}images/tripetto-logo.svg" alt="Logo Tripetto"/>Tripetto<span>Free plugin</span></div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Create conversational forms</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-times-circle fa-fw"></i> No</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Share forms with a link</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-times-circle fa-fw"></i> No</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Embed forms in website</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Use all question types</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-arrow-alt-circle-down fa-fw"></i> Only basic types</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> All types</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of forms</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of questions per form</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of logic jumps per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-times-circle fa-fw"></i> None</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of responses per form</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Store form entries in WP Admin</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-times-circle fa-fw"></i> No</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Email form entries</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                    </div>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="hyperlinks">
                    <li><a href="{{ page.base }}product/" class="hyperlink hyperlink-small"><span>Take the product tour</span><i class="fas fa-arrow-right"></i></a></li>
                    <li><a href="{{ page.base }}examples/" class="hyperlink hyperlink-small"><span>See example forms</span><i class="fas fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include cta.html %}
