---
permalink: /black-friday-sale/
base: ../
color: dark
title: Get 50% off this Black Friday and Cyber Monday - Tripetto
description: Get 50% off Tripetto premium WordPress plugin lifetime licenses. Only this week of Black Friday and Cyber Monday.
---
<section class="block-first intro black-friday-intro">
  <div class="container">
    <div class="row">
      <div class="col-12 shape-before shape-after">
        <h1>It’s Black Friday for our premium WordPress plugin.</h1>
      </div>
    </div>
    <div class="row countdown-holder">
      <div class="col-12">
        <div class="countdown-title" id="countdown_title">Let's have a look at the calendar...</div>
        <div class="countdown">
          <span id="countdown_d" class="countdown-clock"></span>
          <span id="countdown_h" class="countdown-clock"></span>
          <span id="countdown_m" class="countdown-clock"></span>
          <span id="countdown_s" class="countdown-clock"></span>
        </div>
        <div class="countdown">
          <span class="countdown-label">Days</span>
          <span class="countdown-label">Hours</span>
          <span class="countdown-label">Minutes</span>
          <span class="countdown-label">Seconds</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="black-friday-deals">
  <div class="container">
    <div class="row">
      <div class="col-12 align-center">
        <h2>Don’t miss out on <u>50% off</u>!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-lg-8 col-xl-7 align-center">
        <p>We’re keeping our Black Friday sale lean and clean with a <u>50% discount on our very best LTD’s</u> 💥.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 col-xl-9">
        <div class="row">
          <div class="col-md-6 premium-plan">
            <div>
              <h3>Single-site</h3>
              <h4>Lifetime Deal 🚀</h4>
              <p>Normally $269.99. <strong>Now <u>50% off</u>.</strong></p>
              <div class="pricing-price palette-dark">
                <div class="pricing-price-prefix">
                  <div class="valuta">$</div>
                  <div class="amount">134</div>
                  <div class="decimals">.99</div>
                </div>
                <div class="pricing-price-suffix">
                  <span class="conditions-title">Pay once.</span>
                </div>
              </div>
              <ul class="pricing-features fa-ul">
                <li class="featured palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span><a href="{{ page.base }}wordpress/" target="_blank">All Tripetto features</a></li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited forms</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited logic</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited questions</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited responses</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Removable Tripetto branding</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Webhooks</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Slack notifications</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Single-site installation </li>
              </ul>
              <div class="purchase">
                <span class="button button-full button-purple button-wordpress-purchase-single-lifetime" role="button" id="button_single">Checking calender...</span>
              </div>
              <small>Only valid from Nov 27<sup>th</sup> until Dec 4<sup>th</sup>.<br/>Discount code applied automatically.</small>
            </div>
          </div>
          <div class="col-md-6 premium-plan">
            <div>
              <h3>5-sites</h3>
              <h4>Lifetime Deal 🚀</h4>
              <p>Normally $719.99. <strong>Now <u>50% off</u>.</strong></p>
              <div class="pricing-price palette-dark">
                <div class="pricing-price-prefix">
                  <div class="valuta">$</div>
                  <div class="amount">359</div>
                  <div class="decimals">.99</div>
                </div>
                <div class="pricing-price-suffix">
                  <span class="conditions-title">Pay once.</span>
                </div>
              </div>
              <ul class="pricing-features fa-ul">
                <li class="featured palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span><a href="{{ page.base }}wordpress/" target="_blank">All Tripetto features</a></li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited forms</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited logic</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited questions</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited responses</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Removable Tripetto branding</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Webhooks</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>Slack notifications</li>
                <li class="palette-purple"><span class="fa-li"><i class="fas fa-check"></i></span>5-Sites installation</li>
              </ul>
              <div class="purchase">
                <span class="button button-full button-purple button-wordpress-purchase-five-lifetime" role="button" id="button_five">Checking calender...</span>
              </div>
              <small>Only valid from Nov 27<sup>th</sup> until Dec 4<sup>th</sup>.<br/>Discount code applied automatically.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 align-center">
        <a href="{{ page.base }}wordpress/" class="hyperlink"><span>Take the product tour</span><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

<script src="https://checkout.freemius.com/checkout.min.js"></script>
<script src="{{ page.base }}js/black-friday.js?v={{ site.cache_version }}"></script>
