---
base: ../../
permalink: /help/wordpress/
title: Help Center for WordPress plugin - Tripetto
description: Let us help you with using the WordPress plugin.
redirect_from:
- /help/wordpress/learn-basics/
---

{% assign blocks = site.page_help_wordpress %}
{% for block in blocks %}
    {{ block.content }}
{% endfor %}

<script src="{{ page.base }}js/tiles.js?v={{ site.cache_version }}"></script>
<script>
window.localStorage.setItem('tripetto_help_area', 'wordpress');
</script>

