---
base: ../../
permalink: /help/studio/
title: Help Center for studio - Tripetto
description: Let us help you with using the studio at tripetto.app.
redirect_from:
- /help/studio/learn-basics/
---

{% assign blocks = site.page_help_studio %}
{% for block in blocks %}
    {{ block.content }}
{% endfor %}

<script src="{{ page.base }}js/tiles.js?v={{ site.cache_version }}"></script>
<script>
window.localStorage.setItem('tripetto_help_area', 'studio');
</script>
