---
permalink: /subscribe/
base: ../
title: Stay Tuned - Tripetto
description: Subscribe to our newsletter to get notified of important news and releases.
subscribe: false
---

<section class="block-first intro mailinglist subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 shape-before shape-after">
        <h1>Stay Tuned</h1>
        <p>Subscribe to get notified about Tripetto updates. We’ll only reach out to you when we do significant releases or with important news. <strong>No spam, we promise.</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <form action="https://tripetto.us16.list-manage.com/subscribe/post?u=6eddefde72cc0b876c8b7b1f9&amp;id=f79a61bb9a" method="post" target="_blank" class="form-inline">
          <label class="sr-only" for="EMAIL">Email address to subscribe</label>
          <input type="email" name="EMAIL" class="form-input form-input-placeholder" id="EMAIL" placeholder="Type your email for updates">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6eddefde72cc0b876c8b7b1f9_f79a61bb9a" tabindex="-1" value="" /></div>
          <button type="submit" class="button button-wide">Subscribe</button>
        </form>
        <small>After submitting you'll receive a mail to verify your email address.<br/>You can <a href="{{ page.base }}unsubscribe/">unsubscribe</a> at any time.</small>
      </div>
    </div>
  </div>
</section>
