---
permalink: /partner-with-us/
base: ../
title: Partner with us - Tripetto
description: We aim to grow together. How do you think we can succeed together?
---

<section class="block-first intro partners-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 shape-before">
        <h1>We aim to grow together.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-9 shape-after">
        <p>Tripetto enthusiasts regularly ask us how they can help us grow. That’s so cool! If you’re one of them, may we ask below <strong>how you think we can succeed together?</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col partner-scene">
        <img src="{{ page.base }}images/partners/scene.svg" alt="Illustration representing a group of partners">
      </div>
    </div>
    <hr />
  </div>
</section>
<section class="partners-form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Affiliate Application</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 col-xl-10">
        <div id="TripettoRunner" class="runner-autoscroll-horizontal"></div>
      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/tripetto-runner-foundation"></script>
<script src="https://unpkg.com/tripetto-runner-autoscroll"></script>
<script src="https://unpkg.com/tripetto-services"></script>
<script>
var tripetto = TripettoServices.init({ token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoibFV6Q2ROWXVWYnEvcmZSRkxObERPQ25JcGtEV0VLbkRLUWlRUVNZSzRSMD0iLCJkZWZpbml0aW9uIjoiM2NKMjJwTTFpSUpEOWozSmlFNEQwUGN2RDEzMml2NDVXZk5tb0E4Misxcz0iLCJ0eXBlIjoiY29sbGVjdCJ9.7PhVnghzq4rSSA7mGrk82L3ejEz4g_qnEnyPHUvJdN8" });
TripettoAutoscroll.run({
  element: document.getElementById("TripettoRunner"),
  definition: tripetto.definition,
  styles: tripetto.styles,
  l10n: tripetto.l10n,
  locale: tripetto.locale,
  translations: tripetto.translations,
  attachments: tripetto.attachments,
  onSubmit: tripetto.onSubmit,
  customCSS: "[data-block='tripetto-block-multiple-choice'] { h2 { letter-spacing: -1px; } } [data-block='tripetto-block-paragraph'] { h2 { letter-spacing: -1px; } } [data-block='tripetto-block-textarea'] { h2 { letter-spacing: -1px; } } [data-block='tripetto-block-text'] { h2 { letter-spacing: -1px; } } [data-block='tripetto-block-number'] { h2 { letter-spacing: -1px; } }"
});
</script>
