section.changelog-intro {
  p {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 48px;
    }
  }

  ul.hyperlinks {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &.changelog {
    .shape-before {
      &:before {
        @include shape(circle, $palette-green);
        @include shape-xs(120px, -14%, auto, auto, 8%);
        @include shape-md(120px, -10%, auto, auto, 8%);
        @include shape-lg(240px, -25%, auto, auto, 10%);
        @include shape-xl(240px, -20%, auto, auto, 10%);
      }
    }

    .shape-after {
      &:after {
        @include shape(diamond, $palette-red);
        @include shape-xs(48px, auto, 15%, 30%, auto);
        @include shape-sm(48px, auto, -10%, 20%, auto);
        @include shape-md(48px, auto, -10%, 20%, auto);
        @include shape-lg(96px, auto, -10%, 20%, auto);
        @include shape-xl(96px, auto, -10%, 20%, auto);
      }
    }
  }

  &.roadmap {
    .shape-before {
      &:before {
        @include shape(circle, $palette-yellow);
        @include shape-xs(80px, -5%, 10%, auto, auto);
        @include shape-lg(160px, 5%, -20%, auto, auto);
        @include shape-xl(160px, 10%, -25%, auto, auto);
      }
    }

    .shape-after {
      &:after {
        @include shape(diamond, $palette-purple);
        @include shape-xs(80px, auto, auto, 20%, 15%);
        @include shape-md(100px, auto, auto, 10%, 15%);
        @include shape-xl(160px, auto, auto, 10%, 15%);
      }
    }
  }
}
