section.changelog-list {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 52px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-bottom: 64px;

    @media (min-width: 992px) {
      padding-bottom: 108px;
    }

    li {
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      > div {
        padding: 2px 16px 0px 0px;

        @media (min-width: 992px) {
          padding: 6px 24px 0px 0px;
        }

        > h2 {
          font-size: 20px;
          font-weight: 600;

          @media (min-width: 992px) {
            font-size: 24px;
          }
        }

        > p {
          color: $text-dark-72;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.55em;
          margin-top: 10px;
          margin-bottom: 8px;

          @media (min-width: 992px) {
            font-size: 18px;
            margin-bottom: 16px;
          }

          a {
            color: $text-dark-72;
            text-decoration: underline;
          }
        }

        > div {
          font-size: 16px;
          font-weight: 600;
          color: $text-dark-72;
          padding-top: 8px;
          padding-bottom: 6px;
        }
      }
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
