<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M18.5 1h-5c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5h3.8l-8.1 8.1c-0.1 0.1-0.1 0.2-0.1 0.4v9c0 0.3 0.2 0.5 0.5 0.5s0.5-0.2 0.5-0.5v-8.8l8-8v3.8c0 0.3 0.2 0.5 0.5 0.5s0.5-0.2 0.5-0.5v-5c0-0.3-0.2-0.5-0.5-0.5z"/><path d="M7.9 8.1l-6.1-6.1h3.8c0.3 0 0.5-0.2 0.5-0.5s-0.2-0.5-0.5-0.5h-5c-0.3 0-0.5 0.2-0.5 0.5v5c0 0.3 0.2 0.5 0.5 0.5s0.5-0.2 0.5-0.5v-3.8l6.1 6.1c0.1 0.1 0.2 0.1 0.4 0.1s0.3 0 0.4-0.1c0.2-0.2 0.2-0.5 0-0.7z"/></svg>
