<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M17.5 20h-16c-0.8 0-1.5-0.7-1.5-1.5v-16c0-0.8 0.7-1.5 1.5-1.5h16c0.8 0 1.5 0.7 1.5 1.5v16c0 0.8-0.7 1.5-1.5 1.5zM1.5 2c-0.3 0-0.5 0.2-0.5 0.5v16c0 0.3 0.2 0.5 0.5 0.5h16c0.3 0 0.5-0.2 0.5-0.5v-16c0-0.3-0.2-0.5-0.5-0.5h-16z"/><path d="M7.5 14.5c-0.1 0-0.3 0-0.4-0.1l-3-3c-0.2-0.2-0.2-0.5 0-0.7s0.5-0.2 0.7 0l2.6 2.6 6.6-6.6c0.2-0.2 0.5-0.2 0.7 0s0.2 0.5 0 0.7l-7 7c-0.1 0.1-0.2 0.1-0.4 0.1z"/></svg>
