section.unsubscribe-confirmation {
  .shape-before {
    &:before {
      @include shape(circle, $palette-red);
      @include shape-xs(100px, -8%, 15%, auto, auto);
      @include shape-sm(100px, -8%, 150%, auto, auto);
      @include shape-md(100px, -4%, 15%, auto, auto);
      @include shape-lg(200px, -15%, 10%, auto, auto);
      @include shape-xl(200px, -15%, 5%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(48px, auto, auto, -5%, 50%);
      @include shape-md(48px, auto, auto, -5%, 50%);
      @include shape-lg(64px, auto, auto, -5%, 50%);
      @include shape-xl(64px, auto, auto, -5%, 50%);
    }
  }
}
