section.developers-builder {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
      }
    }
  }

  .container-builder {
    padding-top: 24px;
    display: flex;
    align-items: stretch;

    @media (min-width: 992px) {
      padding-top: 32px;
    }

    .builder {
      padding-top: 32px;

      p {
        padding-top: 8px;

        @media (min-width: 992px) {
          padding-top: 24px;
        }

        @media (min-width: 1200px) {
          width: 80%;
        }
      }

      ul,
      a.button {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }
  }

  .container-visual {
    padding-top: 60px;

    @media (min-width: 992px) {
      padding-top: 88px;
    }

    .row-visual {
      @media (min-width: 1300px) {
        margin-left: -80px;
        margin-right: -80px;
      }

      img {
        max-width: 100%;
      }
    }

    .builder-footer {
      display: flex;
      justify-content: center;
      padding-top: 12px;

      small {
        text-align: center;
        display: block;
        font-size: 13px;
        color: $text-dark-48;
        letter-spacing: -0.3px;

        a {
          color: $text-link;
        }

        @media (min-width: 992px) {
          padding-top: 12px;
        }
      }
    }
  }
}
