section.developers-stairs {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
      }
    }
  }

  .container-stairs {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 16px;
    }

    .stair-step {
      img {
        max-height: 150px;

        @media (min-width: 992px) {
          max-height: 200px;
        }

        @media (min-width: 1200px) {
          max-height: auto;
        }
      }
    }
  }
}
