section.calculator-features-intro {
  p {
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 48px;
      width: 96%;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-purple);
      @include shape-xs(80px, 14%, 4%, auto, auto);
      @include shape-md(80px, 20%, -90px, auto, auto);
      @include shape-lg(160px, 20%, -180px, auto, auto);
      @include shape-xl(160px, 20%, -200px, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-green);
      @include shape-xs(80px, auto, auto, -20px, 80px);
      @include shape-md(100px, auto, auto, -20px, 60px);
      @include shape-lg(180px, auto, auto, -70px, 100px);
      @include shape-xl(240px, auto, auto, -120px, 120px);
    }
  }
}
