section.calculator-features-operators {
  .container {
    padding-top: 60px;

    @media (min-width: 768px) {
      padding-top: 100px;
    }

    @media (min-width: 992px) {
      padding-top: 120px;
    }

    @media (min-width: 1200px) {
      padding-top: 220px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      padding-top: 24px;

      li {
        display: inline-block;
        padding: 0px;
        margin-right: 8px;
        text-align: center;

        @media (min-width: 768px) {
          margin-right: 16px;
        }

        @media (min-width: 1200px) {
          margin-right: 32px;
        }

        &:last-child {
          margin-right: 0px;
        }

        img {
          width: 56px;
          height: 56px;

          @media (min-width: 576px) {
            width: 80px;
            height: 80px;
          }

          @media (min-width: 768px) {
            width: 100px;
            height: 100px;
          }

          @media (min-width: 992px) {
            width: 140px;
            height: 140px;
          }

          @media (min-width: 1200px) {
            width: 160px;
            height: 160px;
          }
        }

        h2 {
          display: block;
          font-size: 13px;
          font-weight: 600;
          margin-top: 8px;

          @media (min-width: 576px) {
            font-size: 16px;
          }

          @media (min-width: 768px) {
            font-size: 18px;
            margin-top: 16px;
          }

          @media (min-width: 992px) {
            font-size: 20px;
          }

          @media (min-width: 1200px) {
            font-size: 22px;
            margin-top: 24px;
          }
        }

        i {
          position: relative;
          top: 2px;
        }
      }

      &:before {
        content: "First choose an ‘operator’ to start your calculation with";
        display: inline-block;
        position: absolute;
        left: 64px;
        top: -54px;
        font-family: $font-secondary;
        color: $palette-red;
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 0.8em;
        transform: rotate(-4deg);
        width: 260px;
        height: 56px;
        background-image: url(../images/scenes/hint.svg);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: bottom left;
        padding-left: 30px;

        @media (min-width: 576px) {
          font-size: 28px;
          width: 300px;
          left: 60px;
        }

        @media (min-width: 768px) {
          font-size: 32px;
          width: 360px;
          height: 72px;
          left: 120px;
          top: -74px;
          background-size: 32px;
          padding-left: 44px;
        }

        @media (min-width: 992px) {
          width: 400px;
          height: 72px;
          font-size: 36px;
          top: -80px;
          left: 280px;
          background-size: 32px;
          padding-left: 44px;
          letter-spacing: -1.5px;
        }

        @media (min-width: 1200px) {
          left: 310px;
        }
      }
    }
  }
}
