section.blog-intro {
  .container {
    @media (min-width: 992px) {
      background-image: url(../images/blog/intro.svg);
      background-repeat: no-repeat;
      background-size: 380px;
      background-position: right bottom;
    }

    @media (min-width: 1200px) {
      background-size: 440px;
    }
  }

  p {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 104px;
    }
  }

  form {
    padding-bottom: 40px;

    @media (min-width: 576px) {
      display: flex;
      flex-wrap: nowrap;
    }

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }

    .form-input {
      width: 100%;
      margin-bottom: 8px;

      @media (min-width: 576px) {
        width: auto;
        flex-grow: 1;
        margin-bottom: 0px;
        margin-right: 8px;
      }

      @media (min-width: 992px) {
        margin-right: 16px;
      }
    }

    button {
      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-red);
      @include shape-xs(128px, 0%, 1%, auto, auto);
      @include shape-sm(128px, 0%, 0%, auto, auto);
      @include shape-md(128px, 0%, -10%, auto, auto);
      @include shape-lg(128px, -5%, 10%, auto, auto);
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
