section.blog-list {
  .container {
    padding-top: 40px;
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-top: 52px;
      padding-bottom: 108px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      > div {
        padding: 2px 16px 0px 0px;
        cursor: pointer;
        transition: transform 0.2s ease-out;

        @media (min-width: 992px) {
          padding: 6px 24px 0px 0px;
        }

        > a {
          color: $text-dark;

          h2 {
            font-size: 20px;
            font-weight: 600;

            @media (min-width: 992px) {
              font-size: 24px;
            }
          }
        }

        > p {
          color: $text-dark-72;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.55em;
          margin-top: 10px;
          margin-bottom: 8px;

          @media (min-width: 992px) {
            font-size: 18px;
            margin-bottom: 16px;
          }

          a {
            text-decoration: underline;
          }
        }

        > .article-info {
          padding-top: 24px;
        }

        &:hover {
          transform: scale(1.01);

          > a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
