section.blog-related {
  .container {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    padding-top: 60px;
    font-size: 22px;
  }

  ul.tiles {
    padding-top: 40px;
  }
}
