@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.12);
  }
  30% {
    transform: scale(1.25);
  }
}

.amsterdam {
  font-family: $font-secondary;
  font-size: 24px;
  color: $palette-red !important;

  .fa-heart {
    color: $palette-red !important;
    position: relative;
    top: -3px;
    font-size: 16px;
    padding-left: 2px;
    animation: heartbeat 2s infinite;
  }
}
