section.article-content {
  @mixin style-figure {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;

    @media (min-width: 1200px) {
      margin-left: -16px;
      margin-right: -16px;
    }

    &.inline {
      @media (min-width: 768px) {
        display: inline-block;
        width: 50%;
        float: left;
        margin-right: 32px;
      }

      @media (min-width: 1200px) {
        margin-left: -16px;
      }
    }

    &.inline-right {
      @media (min-width: 768px) {
        display: inline-block;
        width: 50%;
        float: right;
        margin-left: 32px;
      }

      @media (min-width: 1200px) {
        margin-right: -16px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;

      &.no-shadow {
        box-shadow: none;
      }
    }

    .video-embed {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      border-radius: 8px;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    figcaption {
      padding-top: 16px;
      font-size: 13px;
      letter-spacing: -0.3px;
      line-height: 1.5em;
      color: $text-dark-48;
      display: block;

      > code {
        font-size: 12px;
        top: 0px;
      }

      > a {
        text-decoration: underline;
      }
    }
  }

  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;

  .article-preface {
    figure {
      @include style-figure;
      position: relative;
      top: -40px;
    }

    .pills {
      padding-bottom: 32px;

      @media (min-width: 992px) {
        padding-bottom: 48px;
      }
    }

    h1 {
      font-weight: normal;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -2px;
      line-height: 1.15em;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        font-size: 64px;
        letter-spacing: -3px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5em;
      padding-bottom: 48px;

      @media (min-width: 768px) {
        font-size: 24px;
      }

      a {
        color: $text-link;

        &:hover {
          color: $text-link;
        }
      }
    }

    .author {
      padding-bottom: 32px;
    }

    hr {
      border-color: $splitter;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .article-content-core {
    padding-top: 32px;

    h2 {
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        font-size: 26px;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 20px;

      @media (min-width: 768px) {
        font-size: 22px;
      }
    }

    h4 {
      font-size: 18px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 16px;

      i {
        margin-right: 6px;
      }

      &.title-logo {
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          margin-top: -4px;
        }
      }
    }

    h5 {
      font-size: 18px;
      line-height: 1.2em;
      padding-top: 24px;
      padding-bottom: 8px;

      i {
        margin-right: 6px;
      }
    }

    p {
      padding-bottom: 16px;
      line-height: 1.8em;
    }

    a {
      color: $text-link !important;
      text-decoration: none !important;

      &:hover {
        text-decoration: underline !important;
      }
    }

    ul,
    ol {
      margin: 0px;
      padding-bottom: 16px;

      li {
        padding-bottom: 8px;

        h4 {
          padding-bottom: 4px;
        }
      }
    }

    p,
    li,
    figcaption {
      code {
        display: inline-block;
        background-color: $background-light;
        font-size: 16px;
        padding: 0px 6px;
        border-radius: 4px;
        line-height: 1.6em;
        position: relative;
        top: -1px;
      }

      a {
        color: $text-dark;
        text-decoration: underline;

        &:hover {
          color: #000;
        }
      }
    }

    blockquote {
      font-size: 16px;
      line-height: 1.8em;
      margin: 16px 0 32px -11px;
      padding: 0px 8px;
      border-left: 3px solid $text-dark;

      &.big {
        font-size: 24px;
        line-height: 1.7em;
        color: $text-dark-64;
        border-color: $text-dark-64;

        a {
          color: $text-dark-64;

          &:hover {
            color: $text-dark;
          }
        }
      }

      > h2,
      > h3,
      > h4 {
        padding-top: 10px;
        padding-bottom: 0px;
      }

      > p {
        padding-top: 10px;
        padding-bottom: 10px;

        > em {
          font-style: normal;
        }
      }

      > figure {
        @media (min-width: 768px) {
          margin-left: 0px;
          margin-right: 0px;
        }

        > figcaption {
          font-style: normal;
        }
      }

      code {
        font-size: 14px;
        font-style: normal;
      }

      @media (min-width: 768px) {
        padding-left: 16px;
        margin-left: -19px;
      }
    }

    a.blocklink {
      display: block;
      padding: 16px;
      margin-top: 16px;
      margin-bottom: 24px;
      border: 1px solid #dfe4ea;
      border-radius: 8px;
      line-height: 1.5em;
      color: $text-dark !important;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }

      &:hover {
        text-decoration: none !important;

        span.title {
          text-decoration: underline !important;
        }

        img {
          transform: scale(1.05);
        }
      }

      span {
        display: block;
      }

      span.title {
        font-size: 18px;
        font-weight: bold;

        i {
          padding-left: 8px;
          font-size: 14px;
          position: relative;
          top: -2px;
        }
      }

      span.description {
        font-size: 14px;
        color: $text-dark-64;
        line-height: 1.5em;
      }

      span.url {
        font-size: 14px;
        color: #fa3a69;
      }

      img {
        width: 60px;
        margin-left: 16px;
        transition: transform 0.2s ease-out;

        @media (min-width: 768px) {
          width: 80px;
        }
      }
    }

    small {
      color: $text-dark-64;
      display: block;
      text-align: center;
      padding-bottom: 24px;

      > a {
        color: $text-dark-64;
        text-decoration: underline;

        &:hover {
          color: $text-dark;
        }
      }
    }

    pre {
      display: block;
      background-color: $background-light;
      font-size: 14px;
      color: #e83e8c;
      line-height: 1.5em;
      padding: 16px;
      margin-bottom: 24px;
      border-radius: 8px;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    div.gist {
      margin-bottom: 24px;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    hr {
      border: none;
      text-align: center;
      font-size: 36px;
      margin: 0;
      height: 64px;

      &:before {
        display: block;
        content: "...";
        text-indent: 0.6em;
        letter-spacing: 0.6em;
        padding-bottom: 32px;
      }
    }

    i.fa-arrow-right {
      font-size: 12px;
      margin-left: 6px;
      margin-right: 6px;
      position: relative;
      top: -2px;
    }

    figure {
      @include style-figure;
    }

    .tenor-gif-embed {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
      margin-top: 8px;
      margin-bottom: 40px;

      @media (min-width: 1200px) {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    span.help-center {
      span {
        font-weight: bold;
      }
    }
  }
}
