.article-progress-container {
    opacity: 0;
    position: fixed;
    top: $header-height-mobile;
    height: 4px;
    z-index: 996;
    width: 100%;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;

    @media (min-width: 992px) {
      top: $header-height-desktop;
    }

    &.progress-show {
      opacity: 0.95;
    }

    .article-progress-bar {
      height: 4px;
      background: $palette-main;
      width: 0%;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: linear;
    }
  }
