section.article-intro {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -2px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
      font-size: 64px;
      padding-bottom: 60px;
    }

    @media (min-width: 992px) {
      font-size: 80px;
      letter-spacing: -3px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 96px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
