.form-property {
  @mixin property-color($background-color, $color) {
    background-color: $background-color;
    color: $color;

    i {
      color: $color;
    }

    svg {
      path {
        fill: $color;
      }
    }
  }

  display: flex;
  align-items: center;
  background-color: $background-light;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 10px 12px;
  border-radius: 21px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.4px;
  white-space: nowrap;

  @media (min-width: 768px) {
    padding: 12px 20px;
    border-radius: 24px;
    font-size: 16px;
  }

  &:last-child {
    margin-right: 0px;
  }

  i {
    font-size: 20px;
    margin-right: 8px;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  &.palette-build {
    @include property-color($palette-build, #fff);
  }

  &.palette-customization {
    @include property-color($palette-customization, #fff);
  }

  &.palette-sharing {
    @include property-color($palette-sharing, #fff);
  }

  &.palette-hosting {
    @include property-color($palette-hosting, #fff);
  }

  &.palette-logic {
    @include property-color($palette-logic, #fff);
  }
}

a.form-property {
  svg {
    transition: transform 0.2s ease-out;
  }

  &:hover {
    text-decoration: none;

    svg {
      transform: scale(1.1);
    }
  }
}

.form-properties {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
