.hyperlink {
  @mixin hyperlink-color($color) {
    color: $color !important;

    > span {
      &:before,
      &:after {
        background-color: $color;
      }
    }
  }

  display: inline-block;
  font-size: 20px;
  color: $palette-main !important;
  font-weight: 600;

  @media (min-width: 992px) {
    font-size: 24px;
  }

  @media (min-width: 1200px) {
    font-size: 27px;
  }

  > span {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0px;
      left: 0;
      bottom: 0px;
      height: 2px;
      transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
      opacity: 0;
      background-color: $palette-main;
    }
  }

  > i {
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    top: -2px;

    @media (min-width: 992px) {
      font-size: 20px;
    }
  }

  &:hover {
    text-decoration: underline;

    @media (min-width: 768px) {
      text-decoration: none;

      > span {
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  &.hyperlink-small {
    font-size: 16px;
    letter-spacing: -0.4px;

    > i {
      margin-left: 6px;
      font-size: 14px;
      top: -1px;
    }
  }

  &.hyperlink-medium {
    font-size: 18px;
    letter-spacing: -0.5px;

    > i {
      margin-left: 6px;
      font-size: 14px;
      top: -1px;
    }
  }

  &.palette-build {
    @include hyperlink-color($palette-build);
  }

  &.palette-customization {
    @include hyperlink-color($palette-customization);
  }

  &.palette-logic {
    @include hyperlink-color($palette-logic);
  }

  &.palette-automations {
    @include hyperlink-color($palette-automations);
  }

  &.palette-sharing {
    @include hyperlink-color($palette-sharing);
  }

  &.palette-hosting {
    @include hyperlink-color($palette-hosting);
  }

  &.palette-dark {
    @include hyperlink-color($text-dark);
  }

  &.palette-purple {
    @include hyperlink-color($palette-purple);
  }

  &.palette-yellow {
    @include hyperlink-color($palette-yellow);
  }

  &.palette-red {
    @include hyperlink-color($palette-red);
  }
}

ul.hyperlinks {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    padding-bottom: 4px;

    @media (min-width: 768px) {
      display: inline-block;
      padding: 0px;
    }
  }

  li + li {
    @media (min-width: 768px) {
      padding-left: 16px;
    }

    @media (min-width: 992px) {
      padding-left: 40px;
    }
  }
}

.hyperlinks-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    padding-bottom: 8px;
  }
}
