.icon-product {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.icon-product-studio {
    background-color: $palette-studio;
  }

  &.icon-product-wordpress {
    background-color: $palette-wordpress;
  }

  > img {
    width: 32px;
    height: 32px;
  }
}
