.icon-chapter {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 96px;
    height: 96px;
  }

  &.icon-chapter-build {
    background-color: $palette-build;
  }

  &.icon-chapter-customization {
    background-color: $palette-customization;
  }

  &.icon-chapter-logic {
    background-color: $palette-logic;
  }

  &.icon-chapter-automations {
    background-color: $palette-automations;
    overflow: visible;

    img {
      position: relative;
      top: 4px;
    }
  }

  &.icon-chapter-sharing {
    background-color: $palette-sharing;
    overflow: visible;

    img {
      position: relative;
      top: 6px;
      left: -2px;
    }
  }

  &.icon-chapter-hosting {
    background-color: $palette-hosting;
    overflow: visible;

    img {
      position: relative;
      top: 6px;
      left: 0px;
    }
  }

  &.icon-chapter-small {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &.icon-chapter-big {
    width: 128px;
    height: 128px;

    img {
      width: 128px;
      height: 128px;
    }
  }
}
