section.jumbo {
  .jumbo-container {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 48px;
    }
  }

  .row {
    @media (min-width: 1300px) {
      margin-left: -80px;
      margin-right: -80px;
    }
  }

  .jumbo-holder {
    padding: 40px 15px;
    border-radius: 8px;
    background-repeat: no-repeat;

    @media (min-width: 992px) {
      padding: 40px 30px;
      border-radius: 16px;
    }

    &.palette-studio {
      background-color: $palette-studio;
      color: #fff;

      @media (min-width: 992px) {
        background-image: url(../images/studio/jumbo.svg);
        background-size: 400px auto;
        background-position: right 15px bottom;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: 580px auto;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-position: right 40px bottom;
      }

      .jumbo-content {
        width: 100%;

        @media (min-width: 992px) {
          width: 58%;
        }

        @media (min-width: 1200px) {
          width: 55%;
        }
      }
    }

    &.palette-wordpress {
      background-color: $palette-wordpress;

      @media (min-width: 992px) {
        background-image: url(../images/wordpress/jumbo.svg);
        background-size: 380px auto;
        background-position: right 15px bottom;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: 560px auto;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-position: right 40px bottom;
        background-size: 590px auto;
      }

      .jumbo-content {
        width: 100%;

        @media (min-width: 992px) {
          width: 62%;
        }

        @media (min-width: 1200px) {
          width: 60%;
        }
      }
    }

    &.palette-sdk {
      background-color: $palette-sdk;
      color: #fff;

      @media (min-width: 992px) {
        background-image: url(../images/developers/jumbo.svg);
        background-size: 360px auto;
        background-position: right 24px bottom -24px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: 480px auto;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: 560px auto;
      }

      .jumbo-content {
        width: 100%;

        @media (min-width: 992px) {
          width: 64%;
        }

        @media (min-width: 1200px) {
          width: 60%;

          p {
            width: 90%;
          }
        }
      }
    }

    &.palette-producthunt {
      background-color: $palette-producthunt;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 180px;
        background-position: right 30px bottom 60px;
      }

      @media (min-width: 992px) {
        background-size: auto 320px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 420px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        @media (min-width: 768px) {
          h1 {
            width: 80%;
          }

          p {
            width: 65%;
          }

          form {
            width: 65%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 72%;
          }

          p {
            width: 60%;
          }

          form {
            width: 58%;
          }
        }

        @media (min-width: 1200px) {
          p {
            width: 50%;
          }

          form {
            width: 55%;
          }
        }

        form {
          @media (min-width: 576px) {
            display: flex;
            flex-wrap: nowrap;
          }

          .form-input {
            width: 100%;
            margin-bottom: 8px;

            @media (min-width: 576px) {
              width: auto;
              flex-grow: 1;
              margin-bottom: 0px;
              margin-right: 8px;
            }

            @media (min-width: 992px) {
              margin-right: 16px;
            }
          }

          .button {
            margin-top: 0px;
            margin-right: 0px;

            @media (max-width: 575px) {
              width: 100%;
            }
          }
        }
      }
    }

    &.palette-producthunt-launch {
      background-color: $palette-producthunt;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 240px;
        background-position: right 30px bottom 30px;
      }

      @media (min-width: 992px) {
        background-size: auto 380px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 480px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: auto 520px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 40px;
          letter-spacing: -2px;

          @media (min-width: 768px) {
            font-size: 60px;
            letter-spacing: -3px;
          }

          @media (min-width: 992px) {
            font-size: 72px;
          }

          @media (min-width: 1200px) {
            font-size: 80px;
            letter-spacing: -4px;
          }
        }

        @media (min-width: 768px) {
          h1 {
            width: 96%;
          }

          p {
            width: 60%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 70%;
          }

          p {
            width: 55%;
          }
        }

        @media (min-width: 1200px) {
          h1 {
            width: 60%;
          }

          p {
            width: 46%;
          }
        }
      }
    }

    &.palette-producthunt-after {
      background-color: $palette-producthunt;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/producthunt/product-hunt.png);
        background-size: auto 200px;
        background-position: right 30px bottom 30px;
      }

      @media (min-width: 992px) {
        background-size: auto 300px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1200px) {
        padding: 64px 30px;
        background-size: auto 400px;
        background-position: right 30px bottom 45px;
      }

      @media (min-width: 1300px) {
        padding: 96px;
        background-size: auto 400px;
        background-position: right 60px bottom 60px;
      }

      .jumbo-content {
        width: 100%;

        h1 {
          font-size: 40px;
          letter-spacing: -2px;

          @media (min-width: 768px) {
            font-size: 60px;
            letter-spacing: -3px;
          }

          @media (min-width: 992px) {
            font-size: 72px;
          }

          @media (min-width: 1200px) {
            font-size: 80px;
            letter-spacing: -4px;
          }
        }

        @media (min-width: 768px) {
          h1 {
            width: 82%;
          }

          p {
            width: 68%;
          }
        }

        @media (min-width: 992px) {
          h1 {
            width: 70%;
          }

          p {
            width: 62%;
          }
        }

        @media (min-width: 1200px) {
          h1 {
            width: 63%;
          }

          p {
            width: 54%;
          }
        }
      }
    }
  }

  h1 {
    font-size: 60px;
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -3px;

    @media (min-width: 768px) {
      font-size: 80px;
    }

    @media (min-width: 992px) {
      font-size: 100px;
      letter-spacing: -6px;
    }

    @media (min-width: 1200px) {
      font-size: 120px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    padding-top: 32px;
    padding-bottom: 24px;

    @media (min-width: 992px) {
      font-size: 24px;
      padding-top: 64px;
      padding-bottom: 48px;
    }
  }

  .button {
    margin-top: 16px;

    &:first-child {
      margin-right: 12px;
    }
  }

  .jumbo-footer {
    padding-top: 12px;

    &.jumbo-footer-hyperlinks {
      @media (min-width: 768px) {
        text-align: right;
      }

      @media (min-width: 992px) {
        padding-top: 20px;
      }

      @media (min-width: 1300px) {
        padding-right: 64px;
      }
    }

    &.jumbo-footer-text {
      display: flex;
      justify-content: center;

      small {
        text-align: center;
        display: block;
        font-size: 13px;
        color: $text-dark-48;
        letter-spacing: -0.3px;

        @media (min-width: 992px) {
          width: 70%;
          padding-top: 24px;
        }

        @media (min-width: 1200px) {
          width: 58%;
        }

        @media (min-width: 1300px) {
          width: 54%;
        }
      }
    }
  }
}
