section.matrix {
  @mixin features-area($background, $text) {
    background-color: $background;

    span {
      color: $text;
    }

    small {
      color: rgba($text, 0.64);
    }
  }

  .matrix-title {
    background-color: $background-light;
    border-radius: 4px;
    padding: 14px 0.75rem 12px 0.75rem;

    @media (min-width: 1200px) {
      padding-top: 18px;
      padding-bottom: 16px;
    }

    h3 {
      display: inline;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: -0.5px;
      line-height: 1em;

      @media (min-width: 768px) {
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: 700;
      }

      @media (min-width: 1200px) {
        font-size: 30px;
      }
    }
  }

  .table-responsive {
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar-track {
      height: 0;
      width: 0;
    }
  }

  table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-bottom: 0px;
    color: $text-dark;

    th,
    td {
      width: 50%;
      background-clip: padding-box;

      &:first-child {
        position: sticky;
        left: 0px;
        background-color: #fff;
      }

      @media (min-width: 768px) {
        width: 66%;

        &:first-child {
          width: 34%;
        }
      }
    }

    th.matrix-nav {
      text-align: right;

      span {
        color: $text-dark;
        font-size: 15px;
        display: inline-block;
        width: 32px;
        padding: 5px 0px;
        margin-left: 4px;
        text-align: center;
        vertical-align: middle;
        background-color: $background-light;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: $background-dark;
          color: #fff;
        }
      }
    }

    &.matrix-head {
      thead {
        th {
          border: none;
          padding-top: 80px;
          padding-bottom: 0px;

          @media (min-width: 992px) {
            padding-top: 120px;
          }

          > div.matrix-area {
            border-radius: 8px;
            padding: 24px 16px;
            text-align: center;
            margin-bottom: 24px;

            @media (min-width: 992px) {
              padding: 32px;
              margin-bottom: 60px;
            }

            &.palette-studio {
              @include features-area($palette-studio, #fff);
            }

            &.palette-wordpress {
              @include features-area($palette-wordpress, $text-dark);
              position: relative;

              &:before {
                content: "Made especially for WordPressers";
                text-align: left;
                font-family: $font-secondary;
                color: $palette-red;
                font-size: 24px;
                font-weight: 400;
                letter-spacing: -1px;
                line-height: 0.8em;
                transform: rotate(5deg);
                position: absolute;
                background-image: url(../images/launch/hint.svg);
                background-size: 40px;
                background-repeat: no-repeat;
                background-position: bottom right;
                padding-right: 38px;
                display: none;

                @media (min-width: 768px) {
                  display: inline-block;
                  width: 170px;
                  height: 60px;
                  top: -70px;
                  right: 10px;
                }

                @media (min-width: 992px) {
                  font-size: 30px;
                  background-size: 60px;
                  padding-right: 48px;
                  width: 218px;
                  height: 90px;
                  top: -108px;
                  right: 20px;
                }

                @media (min-width: 1200px) {
                  font-size: 36px;
                  width: 258px;
                  height: 98px;
                  top: -112px;
                  right: 40px;
                }
              }
            }

            span {
              display: block;
              font-size: 36px;
              letter-spacing: -2px;
              line-height: 1.2em;

              @media (min-width: 992px) {
                font-size: 64px;
                letter-spacing: -3px;
              }
            }

            small {
              display: block;
              font-size: 12px;
              font-weight: 600;

              @media (min-width: 768px) {
                font-size: 14px;
              }

              @media (min-width: 992px) {
                font-size: 16px;
              }
            }

            a {
              display: none;

              @media (min-width: 992px) {
                display: inline-block;
                margin-top: 40px;
              }
            }
          }
        }

        th.matrix-nav {
          &.shape-before {
            &:before {
              @include shape(circle, $palette-blue);
              @include shape-xs(48px, 5%, auto, auto, 25%);
              @include shape-sm(48px, 5%, auto, auto, 25%);
              @include shape-md(48px, 10%, auto, auto, 45%);
              @include shape-lg(96px, 20%, auto, auto, 45%);
              @include shape-xl(96px, 20%, auto, auto, 45%);
            }
          }

          > div {
            display: inline-block;
            padding-bottom: 24px;

            @media (min-width: 768px) {
              display: none;
            }
          }

          > img {
            display: none;
            max-width: 100%;

            @media (min-width: 768px) {
              display: inline-block;
            }
          }
        }
      }
    }

    &.matrix-body {
      margin-bottom: 16px;

      thead {
        th {
          border-top: none;
          border-bottom: 1px solid $splitter-light;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        .products-label {
          font-weight: 600;
        }
      }

      tbody {
        tr {
          th,
          td {
            border-color: $splitter-light;
          }

          &:nth-child(1) {
            th,
            td {
              border: none;
            }
          }
        }

        td.matrix-body-row {
          h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5em;

            @media (min-width: 768px) {
              font-size: 18px;
            }

            img,
            svg {
              height: 20px;
              margin-left: 2px;
              margin-right: 4px;
              position: relative;
              top: -2px;
            }
          }

          small {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            color: $text-dark-64;
            line-height: 1.3em;
            margin-top: 4px;

            @media (min-width: 768px) {
              font-size: 14px;
            }

            a {
              color: $text-link;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &.matrix-body-row-indent {
            padding-left: 32px;
          }
        }

        td {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5em;

          @media (min-width: 768px) {
            font-size: 16px;
          }

          .matrix-yes {
            i {
              color: $palette-green;
              margin-right: 2px;
            }

            span {
              margin-left: 4px;
            }
          }

          .matrix-no {
            opacity: 0.6;

            i {
              margin-right: 2px;
            }

            span {
              margin-left: 4px;
            }
          }

          div {
            a {
              text-decoration: underline;
            }

            code {
              font-size: 100%;
            }
          }

          small {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            color: $text-dark-48;
            line-height: 1.3em;
            margin-top: 4px;

            @media (min-width: 768px) {
              font-size: 14px;
            }

            &.premium {
              a {
                color: #ecb22e;

                i {
                  margin-right: 5px;
                }
              }
            }

            a {
              color: $text-link;

              &:hover {
                text-decoration: underline;
              }
            }

            span.list {
              display: block;
              padding-bottom: 4px;

              i {
                display: table-cell;
              }

              span {
                display: table-cell;
                padding-left: 4px;
              }
            }
          }
        }

        tr.matrix-cta {
          a {
            display: inline-block;
            color: $text-dark;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: -0.5px;
            margin-top: 8px;
            margin-bottom: 16px;

            @media (min-width: 768px) {
              font-size: 18px;
            }

            i {
              font-size: 14px;
              margin-left: 6px;

              @media (min-width: 768px) {
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
    }
  }

  &.matrix-compare {
    table {
      th,
      td {
        width: 46vw;

        @media (min-width: 576px) {
          width: 290px;

          &:first-child {
            width: 220px;
          }
        }

        @media (min-width: 768px) {
          width: 34%;

          &:first-child {
            width: 33%;
          }
        }
      }
    }
  }
}
