div.video-modal {
  .modal-content {
    background: transparent;
    border: none;

    .modal-header {
      border: none;

      .close {
        text-shadow: none;
        color: #fff;
        opacity: 1;
      }
    }

    .modal-body {
      padding: 0;

      iframe {
        width: 100%;
        height: 280px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 2px;
        border-radius: 15px;

        @media (min-width: 768px) {
          height: 282px;
        }

        @media (min-width: 992px) {
          height: 450px;
        }

        @media (min-width: 1200px) {
            height: 642px;
          }
      }
    }
  }
}
