section.mosaic {
  .mosaic-row-top,
  .mosaic-row-middle,
  .mosaic-row-bottom {
    justify-content: center;
  }

  .mosaic-row-top {
    position: relative;

    @media (min-width: 992px) {
      align-items: flex-end;
    }

    &.shape-before {
      &:before {
        @include shape(circle, $palette-yellow);
        @include shape-xs(100px, -10%, auto, auto, 10%);
        @include shape-md(100px, -10%, auto, auto, 10%);
        @include shape-lg(160px, -16%, auto, auto, 15%);
      }
    }
  }

  .mosaic-row-bottom {
    position: relative;
    justify-content: flex-start;

    @media (min-width: 992px) {
      align-items: flex-end;
      justify-content: center;
    }

    &.shape-before {
      &:before {
        @include shape(circle, $palette-purple);
        @include shape-xs(100px, -40%, 8%, auto, auto);
        @include shape-md(200px, -40%, 8%, auto, auto);
        @include shape-lg(250px, -40%, 8%, auto, auto);
        @include shape-xl(300px, -40%, 8%, auto, auto);
      }
    }

    &.shape-after {
      &:after {
        @include shape(diamond, $palette-red);
        @include shape-xs(64px, auto, auto, 5%, 10%);
        @include shape-md(64px, auto, auto, 10%, 10%);
        @include shape-lg(96px, auto, auto, -10%, 15%);
      }
    }
  }

  .mosaic-block {
    padding: 15px 24px;
    border-radius: 16px;
    width: 100%;
    height: 160px;
    margin: 8px 0px;
    color: #fff;
    position: relative;
    transition: transform 0.2s ease-out;
    display: flex;

    > div {
      align-self: center;
      width: 70%;

      @media (min-width: 992px) {
        align-self: flex-start;
        width: 100%;
      }
    }

    h3 {
      line-height: 1.1em;
    }

    p {
      font-size: 15px;
      line-height: 1.4em;
      letter-spacing: -0.2px;
      padding-top: 10px;

      @media (min-width: 992px) {
        line-height: 1.8em;
      }
    }

    @media (min-width: 992px) {
      padding: 20px 28px;
      margin: 0px;
    }

    @media (min-width: 1200px) {
      padding: 26px 34px;

      h3 {
        width: 80%;
      }
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.01);
    }

    &.mosaic-block-horizontal {
      @media (min-width: 992px) {
        width: 330px;
        height: 250px;
      }

      @media (min-width: 1200px) {
        width: 400px;
        height: 280px;
      }
    }

    &.mosaic-block-vertical {
      @media (min-width: 992px) {
        width: 250px;
        height: 330px;
      }

      @media (min-width: 1200px) {
        width: 280px;
        height: 400px;
      }
    }

    &.palette-build {
      background-color: $palette-build;
      background-image: url(../images/chapters/build.svg);
      background-repeat: no-repeat;
      background-size: 160px;
      background-position: bottom right;

      div {
        width: 60%;
      }

      @media (min-width: 992px) {
        background-position: bottom center;
        right: 24px;
        bottom: 40px;
        background-size: 230px;

        div {
          width: 70%;
        }
      }

      @media (min-width: 1200px) {
        right: 48px;
        bottom: 60px;
        background-size: 300px;

        div {
          width: 60%;
        }
      }
    }

    &.palette-hosting {
      background-color: $palette-hosting;

      img {
        position: absolute;
        right: 0px;
        bottom: -13px;
        height: 120px;
      }

      @media (min-width: 992px) {
        position: relative;
        align-self: flex-end;

        h3 {
          width: 100%;
        }

        img {
          height: 180px;
          bottom: -13px;
        }
      }

      @media (min-width: 1200px) {
        img {
          height: 240px;
          bottom: -33px;
        }
      }
    }

    &.palette-customization {
      background-color: $palette-customization;
      background-image: url(../images/chapters/customization.svg);
      background-repeat: no-repeat;
      background-size: 160px;
      background-position: right bottom;

      @media (min-width: 992px) {
        align-self: flex-end;
        left: 24px;
        background-size: auto 100px;

        h3 {
          width: 75%;
        }

        p {
          width: 80%;
        }
      }

      @media (min-width: 1200px) {
        left: 48px;
        background-size: auto 140px;

        p {
          width: 72%;
        }
      }
    }

    &.palette-sharing {
      background-color: $palette-sharing;

      img {
        position: absolute;
        height: 120px;
        right: 4px;
        bottom: -10px;
      }

      @media (min-width: 992px) {
        position: relative;
        top: -16px;
        right: 109px;

        img {
          height: 200px;
          bottom: -12px;
          right: 4px;
        }
      }

      @media (min-width: 1200px) {
        top: -12px;
        right: 128px;

        p {
          width: 60%;
        }

        img {
          height: 270px;
          bottom: -14px;
          right: 4px;
        }
      }
    }

    &.palette-logic {
      background-color: $palette-logic;
      background-image: url(../images/chapters/logic.svg);
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: right bottom;

      div {
        width: 90%;
      }

      @media (min-width: 768px) {
        background-size: 120px;

        div {
          width: 60%;
        }
      }

      @media (min-width: 992px) {
        top: 24px;
        right: 85px;
        background-size: 160px;

        div {
          width: 100%;
        }

        p {
          width: 59%;
        }
      }

      @media (min-width: 1200px) {
        top: 48px;
        right: 80px;
        background-size: 220px;

        p {
          width: 48%;
        }
      }
    }

    &.palette-automations {
      background-color: $palette-automations;
      background-image: url(../images/chapters/automations.svg);
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: right bottom;

      @media (min-width: 992px) {
        position: relative;
        top: -32px;
        left: 80px;
        background-size: auto 190px;
        background-position: center bottom;
      }

      @media (min-width: 1200px) {
        top: -24px;
        left: 80px;
        background-size: auto 240px;
      }
    }
  }

  .mosaic-more {
    font-family: $font-secondary;
    color: $palette-red;
    font-size: 48px;
    letter-spacing: -3px;
    text-decoration: none !important;

    @media (min-width: 992px) {
      position: relative;
      width: 160px;
      top: -8px;
      left: 128px;
    }
  }
}
