section.showcase {
  .showcase-switcher {
    padding-bottom: 40px;

    > span {
      font-size: 15px;
      font-weight: 500;
    }

    > .dropdown {
      margin-top: 8px;

      .dropdown-button {
        display: inline-block;
        padding: 12px 14px;
        background-color: $palette-main;
        border: 1px solid $palette-main;
        border-radius: 4px;
        font-size: 16px;
        letter-spacing: -0.4px;
        font-weight: 500;
        color: #fff;
        text-decoration: none !important;
        outline: none !important;
        transition: background-color 0.2s ease-out;
        text-align: center;

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.25);
        }

        &:hover {
          background-color: lighten($palette-main, 2%);
          color: #fff;
        }

        &.palette-customization {
          background-color: $palette-customization;
          border-color: $palette-customization;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(43, 205, 253, 0.25);
          }

          &:hover {
            background-color: lighten($palette-customization, 2%);
          }
        }

        i.fas {
          font-size: 14px;
          margin-left: 16px;
          margin-right: 8px;
        }
      }

      .dropdown-menu {
        max-width: 334px;
        padding: 40px 32px 20px 32px;
        border-radius: 8px;
        color: $text-dark;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
        border: none;

        > h2 {
          font-size: 27px;
          padding-bottom: 6px;
          letter-spacing: -0.5px;
        }

        > p {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.8em;
          padding-bottom: 24px;
          margin-bottom: 10px;
          border-bottom: 1px solid $splitter-light;
        }

        ul {
          list-style: none;
          padding-left: 0;
          margin: 0;

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-top: 16px;
            padding-bottom: 16px;
            cursor: pointer;

            .icon-face {
              margin-right: 16px;
              transition: transform 0.2s ease-out;
            }

            h3 {
              font-size: 16px;
              letter-spacing: -0.4px;
              font-weight: 600;
              padding-bottom: 6px;
            }

            p {
              font-size: 13px;
              font-weight: 500;
              line-height: 1.5em;
              letter-spacing: -0.2px;
            }

            &:hover {
              text-decoration: none;

              .icon-face {
                transform: scale(1.03);
              }
            }
          }
        }
      }
    }
  }

  .carousel {
    .carousel-inner {
      overflow: visible;
    }

    &.carousel-hint {
      &:before {
        content: "Swipe to see the difference";
        position: absolute;
        display: none;
        font-family: $font-secondary;
        color: $palette-red;
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 0.8em;
        transform: rotate(-3deg);
        width: 150px;
        height: 80px;
        background-image: url(../images/scenes/hint.svg);
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center left;
        padding-left: 30px;

        @media (min-width: 576px) {
          display: inline-block;
          right: 4%;
          top: -74px;
        }

        @media (min-width: 992px) {
          width: 186px;
          height: 104px;
          font-size: 30px;
          top: -94px;
          background-size: 32px;
          padding-left: 44px;
        }

        @media (min-width: 1200px) {
          right: 7%;
          top: -94px;
        }
      }
    }
  }
}
