$slider-width-xs: 345px;
$slider-height-xs: 223px;

$slider-width-sm: 510px;
$slider-height-sm: 330px;

$slider-width-md: 690px;
$slider-height-md: 446px;

$slider-width-lg: 930px;
$slider-height-lg: 601px;

$slider-width-xl: 1110px;
$slider-height-xl: 718px;

$slider-offset: 16px;

.slider-container {
  position: relative;
  width: $slider-width-xs;
  height: $slider-height-xs;
  cursor: ew-resize;

  @media (min-width: 576px) {
    width: 100%;
    height: $slider-height-sm;
  }

  @media (min-width: 768px) {
    height: $slider-height-md;
  }

  @media (min-width: 992px) {
    height: $slider-height-lg;
  }

  @media (min-width: 1200px) {
    height: $slider-height-xl;
  }

  .slider-after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slider-before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: hidden;
  }

  .slider-before-inset {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $slider-width-xs;

    @media (min-width: 576px) {
      width: $slider-width-sm;
    }

    @media (min-width: 768px) {
      width: $slider-width-md;
    }

    @media (min-width: 992px) {
      width: $slider-width-lg;
    }

    @media (min-width: 1200px) {
      width: $slider-width-xl;
    }
  }

  .slider-after,
  .slider-before {
    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      object-position: 50% 50%;
      top: 0;
      bottom: 0;
      left: 0;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }

  .slider-handle {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    pointer-events: none;
    margin-left: -16px;
    margin-top: -16px;

    @media (min-width: 992px) {
      margin-left: -24px;
      margin-top: -24px;
    }

    > div {
      width: 32px;
      height: 32px;
      background-color: $palette-main;
      border-radius: 8px;
      transform: rotate(-45deg);
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        width: 50%;
        transform: rotate(45deg);
      }

      @media (min-width: 992px) {
        width: 48px;
        height: 48px;
      }
    }

    &:before {
      bottom: 50%;
    }

    &:after {
      top: 50%;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      width: 8px;
      background-color: $palette-main;
      position: absolute;
      left: 50%;
      margin-left: -4px;
      border-radius: 4px;
      z-index: -1;
      height: $slider-height-xs / 2 + $slider-offset;

      @media (min-width: 576px) {
        height: $slider-height-sm / 2 + $slider-offset;
      }

      @media (min-width: 768px) {
        height: $slider-height-md / 2 + $slider-offset;
      }

      @media (min-width: 992px) {
        height: $slider-height-lg / 2 + $slider-offset;
      }

      @media (min-width: 1200px) {
        height: $slider-height-xl / 2 + $slider-offset;
      }
    }
  }
}
