a.social {
  transition: color 0.25s linear;

  &:hover {
    text-decoration: none;

    &.mail {
      color: $text-link !important;
    }

    &.twitter {
      color: $twitter !important;
    }

    &.facebook {
      color: $facebook !important;
    }

    &.linkedin {
      color: $linkedin !important;
    }

    &.youtube {
      color: $youtube !important;
    }

    &.medium {
      color: $medium !important;
    }

    &.gitlab {
      color: $gitlab !important;
    }

    &.npm {
      color: $npm !important;
    }
  }
}
