section.contact-intro {
  p {
    padding-bottom: 60px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -10%, auto, auto, 10%);
      @include shape-md(180px, -10%, auto, auto, 10%);
      @include shape-lg(200px, -10%, auto, auto, 10%);
      @include shape-xl(256px, -10%, auto, auto, 10%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-blue);
      @include shape-xs(64px, auto, 10%, 15%, auto);
      @include shape-sm(64px, auto, 10%, 15%, auto);
      @include shape-md(64px, auto, 10%, 15%, auto);
      @include shape-lg(128px, auto, 0%, 25%, auto);
      @include shape-xl(128px, auto, 0%, 25%, auto);
    }
  }
}
