section.partners-form {
  .container {
    padding-top: 80px;
    padding-bottom: 40px;

    @media (min-width: 992px) {
      padding-bottom: 80px;
    }
  }

  h2 {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -1px;
    }
  }

  #TripettoRunner {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 56px;
    }
  }
}
