section.partners-intro {
  p {
    padding-bottom: 20px !important;

    @media (min-width: 768px) {
      width: 94%;
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
      width: 90%;
    }
  }

  .partner-scene {
    text-align: center;

    img {
      max-width: 75%;
      height: auto;

      @media (min-width: 992px) {
        max-width: 600px;
      }

      @media (min-width: 1200px) {
        max-width: 100%;
      }
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-purple);
      @include shape-xs(80px, -5%, 10%, auto, auto);
      @include shape-lg(160px, 5%, -10%, auto, auto);
      @include shape-xl(160px, 14%, -5%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-yellow);
      @include shape-xs(80px, auto, auto, -5%, 15%);
      @include shape-md(100px, auto, auto, -15%, 15%);
      @include shape-xl(160px, auto, auto, -30%, 10%);
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
