section.product-automations {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .product-automations-visual {
    @mixin automation-bubble($color) {
      background-color: $color;
    }

    @mixin automation-bubble-position($size, $top, $left) {
      width: $size;
      height: $size;
      top: $top;
      left: $left;
    }

    @mixin automation-bubble-xs($size, $top, $left) {
      @include automation-bubble-position($size, $top, $left);
    }

    @mixin automation-bubble-sm($size, $top, $left) {
      @media (min-width: 576px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    @mixin automation-bubble-md($size, $top, $left) {
      @media (min-width: 768px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    @mixin automation-bubble-lg($size, $top, $left) {
      @media (min-width: 992px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    @mixin automation-bubble-xl($size, $top, $left) {
      @media (min-width: 1200px) {
        @include automation-bubble-position($size, $top, $left);
      }
    }

    margin-top: 32px;
    margin-left: 15px;
    height: 160px;

    @media (min-width: 576px) {
      height: 272px;
    }

    @media (min-width: 768px) {
      height: 400px;
    }

    @media (min-width: 992px) {
      margin-top: 64px;
      height: 480px;
    }

    @media (min-width: 1200px) {
      height: 560px;
    }

    .automation-bubble {
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s ease-out;

      img {
        width: 66%;
      }

      &:hover {
        transform: scale(1.03);
      }

      &.automation-slack {
        @include automation-bubble(#9ce6c6);
        @include automation-bubble-xs(43px, 15%, 0px);
        @include automation-bubble-sm(77px, 47px, 0px);
        @include automation-bubble-md(115px, 69px, 0px);
        @include automation-bubble-lg(136px, 82px, 0px);
        @include automation-bubble-xl(160px, 96px, 0px);
      }

      &.automation-email {
        @include automation-bubble(#38cc8e);
        @include automation-bubble-xs(34px, 0px, 20%);
        @include automation-bubble-sm(62px, 0px, 117px);
        @include automation-bubble-md(92px, 0px, 173px);
        @include automation-bubble-lg(108px, 0px, 206px);
        @include automation-bubble-xl(128px, 0px, 240px);
      }

      &.automation-webhooks {
        @include automation-bubble(#7bddb3);
        @include automation-bubble-xs(75px, 6%, 40%);
        @include automation-bubble-sm(136px, 12px, 210px);
        @include automation-bubble-md(201px, 18px, 291px);
        @include automation-bubble-lg(238px, 20px, 368px);
        @include automation-bubble-xl(280px, 24px, 432px);

        img {
          position: relative;
          top: -2%;
        }
      }

      &.automation-zapier {
        @include automation-bubble(#bdeed9);
        @include automation-bubble-xs(86px, 42%, 20%);
        @include automation-bubble-sm(155px, 118px, 86px);
        @include automation-bubble-md(230px, 172px, 108px);
        @include automation-bubble-lg(272px, 205px, 150px);
        @include automation-bubble-xl(320px, 240px, 176px);
      }

      &.automation-integromat {
        @include automation-bubble(#def7ec);
        @include automation-bubble-xs(64px, 0px, 64%);
        @include automation-bubble-sm(116px, 0px, 358px);
        @include automation-bubble-md(172px, 0px, 512px);
        @include automation-bubble-lg(204px, 0px, 628px);
        @include automation-bubble-xl(240px, 0px, 736px);
      }

      &.automation-pabbly-connect {
        @include automation-bubble(#acead0);
        @include automation-bubble-xs(49px, 50%, 60%);
        @include automation-bubble-sm(89px, 142px, 316px);
        @include automation-bubble-md(132px, 211px, 447px);
        @include automation-bubble-lg(156px, 252px, 553px);
        @include automation-bubble-xl(184px, 296px, 648px);
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-purple);
      @include shape-xs(24px, -20%, auto, auto, 20%);
      @include shape-lg(64px, -25%, auto, auto, 25%);
      @include shape-xl(64px, -25%, auto, auto, 25%);
    }
  }
}
