section.product-customization {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }

    .icon-chapter {
      margin-bottom: 10px;

      @media (min-width: 992px) {
        display: none;
      }
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
        width: 92%;
      }

      @media (min-width: 1200px) {
        width: 90%;
      }
    }
  }

  .carousel-buttons {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    position: relative;

    &:before {
      content: "Pick the face you wish to see";
      position: absolute;
      font-family: $font-secondary;
      color: $palette-red;
      font-size: 24px;
      letter-spacing: -1px;
      line-height: 0.8em;
      transform: rotate(-8deg);
      width: 120px;
      height: 60px;
      right: 0px;
      top: 10px;
      display: inline-block;

      @media (min-width: 992px) {
        width: 164px;
        font-size: 30px;
        right: 4%;
        top: -24px;
      }

      @media (min-width: 1200px) {
        right: 7%;
      }
    }

    li {
      padding: 0px;
      width: 32%;

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        cursor: pointer;

        .icon-face {
          transition: transform 0.2s ease-out;
        }

        h3 {
          padding-top: 16px;
          font-size: 20px;

          @media (min-width: 768px) {
            font-size: 24px;
          }

          @media (min-width: 992px) {
            padding-top: 32px;
            font-size: 30px;
          }
        }

        p {
          padding-top: 8px;
          padding-bottom: 16px;
          font-size: 15px;

          @media (min-width: 992px) {
            font-size: 18px;
            padding-top: 16px;
            padding-bottom: 32px;
            width: 95%;
          }

          @media (min-width: 1200px) {
            padding-bottom: 64px;
          }
        }

        hr {
          border-color: transparent;
          border-width: 4px;
          border-radius: 2px;
          margin: 0;
          transition: border-color 0.4s ease-out;
          width: 100%;
          margin-top: auto;
        }
      }

      &:hover {
        .icon-face {
          transform: scale(1.03);
        }
      }

      &.active {
        .icon-face {
          transform: scale(1.03);
        }

        hr {
          border-color: $palette-customization;
        }
      }
    }
  }

  .carousel-splitter {
    hr {
      border-color: $palette-customization;
      border-width: 4px;
      border-radius: 2px;
      opacity: 0.15;
      margin: 0;
      position: relative;
      top: -4px;
    }
  }

  .carousel-slides {
    padding-top: 60px;

    .carousel-item {
      img {
        max-width: 100%;
        margin-bottom: 16px;

        @media (min-width: 768px) {
          margin-bottom: 40px;
        }
      }

      .form-properties {
        padding-top: 16px;
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 56px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(120px, -0%, 10%, auto, auto);
      @include shape-lg(160px, -15%, 5%, auto, auto);
      @include shape-xl(200px, -15%, 5%, auto, auto);
    }
  }
}
