section.product-logic {
  .container {
    padding-top: 16px;

    @media (min-width: 992px) {
      padding-top: 120px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .container-fluid {
    padding-top: 54px;
  }

  .tickercontainer {
    margin: 8px 0px;

    @media (min-width: 992px) {
      margin: 16px 0px;
    }
  }

  .ticker-blocks {
    li {
      padding: 0px 8px;

      @media (min-width: 992px) {
        padding: 0px 16px;
      }

      > a {
        background-color: $palette-main;
        border-radius: 16px;
        color: #fff !important;
        font-size: 20px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: -1px;
        padding: 12px 20px;
        display: flex;
        align-items: center;

        @media (min-width: 992px) {
          padding: 24px 32px;
          font-size: 30px;
        }

        &.palette-build {
          background-color: $palette-build;
        }

        &.palette-customization {
          background-color: $palette-customization;
        }

        &.palette-logic {
          background-color: $palette-logic;
        }

        img {
          width: 36px;
          height: 36px;
          margin-right: 16px;
          filter: invert(1);
          transition: transform 0.2s ease-out;

          @media (min-width: 992px) {
            width: 48px;
            height: 48px;
          }
        }

        svg {
          width: 36px;
          height: 36px;
          margin-right: 16px;
          transition: transform 0.2s ease-out;

          path {
            fill: #fff;
          }

          @media (min-width: 992px) {
            width: 48px;
            height: 48px;
          }
        }

        small {
          background-color: #fff;
          color: $palette-customization;
          border-radius: 4px;
          padding: 4px 6px;
          margin-left: 8px;
          font-size: 12px;

          @media (min-width: 992px) {
            margin-left: 16px;
          }
        }

        &:hover {
          text-decoration: none;

          svg {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .container-bottom {
    padding-top: 0px;

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }

      @media (min-width: 1200px) {
        width: 90%;
      }
    }

    .hyperlink {
      margin-top: 16px;

      @media (min-width: 992px) {
        margin-top: 32px;
      }
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-red);
      @include shape-xs(32px, -0%, 40%, auto, auto);
      @include shape-lg(64px, -15%, 5%, auto, auto);
      @include shape-xl(64px, -15%, 5%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-yellow);
      @include shape-xs(80px, auto, 10%, 20%, auto);
      @include shape-md(120px, auto, 10%, 0%, auto);
      @include shape-lg(160px, auto, -10%, 0, auto);
      @include shape-xl(160px, auto, -25%, 0, auto);
    }
  }
}
